
@{
    ViewBag.Title = "update";
}

<h2>update</h2>

<h2>修改用户资料</h2>
查询成功:@ViewBag.IsSearchSuccess
<form action="~/backStage/userManagement/update" method="post">
    UserId:<input type="text" id="userId" name="userId" value="@ViewBag.userId" /><br />
    LoginId:<input type="text" id="loginId" name="loginId" value="@ViewBag.loginId" /><br />
    UserPwd:<input type="password" id="userPwd" name="userPwd" value="@ViewBag.userPwd" /><br />
    UserName:<input type="text" id="userName" name="userName" value="@ViewBag.userName" /><br />
    Age:<input type="text" id="userAge" name="userAge" value="@ViewBag.userAge" /><br />
    Sex:<input type="text" id="userSex" name="userSex" value="@ViewBag.userSex" /><br />
    Tel:<input type="text" id="userTel" name="userTel" value="@ViewBag.userTel" /><br />
    Status:<input type="text" id="userTel" name="userStatus" value="@ViewBag.userStatus" /><br />
    Account:<input type="text" id="userTel" name="userAccount" value="@ViewBag.userAccount" /><br />
    <input type="submit" id="postData" name="postData" value="修改" />
</form>

