@model Lazyfitness.Models.postInfo
@{
    Layout = "~/Views/Shared/_backStageMainStyle.cshtml";
    ViewBag.title = "论坛帖子人气";
}
<!--/sidebar-->
<div class="main-wrap">
    <div class="crumb-wrap">
        <div class="crumb-list">
            <i class="icon-font">🔈</i><span>欢迎使用小懒人共享健身后台管理系统</span>
        </div>
    </div>
    <div class="result-wrap">
        <div class="result-title">
            <h1>可选操作</h1>
        </div>

        <div class="result-content">
            <div class="short-wrap">
                @Html.ActionLink("资源文章人气", "articlePageViewIndex", "pageView")
                @Html.ActionLink("论坛帖子人气", "forumPageViewIndex", "pageView")
                @Html.ActionLink("问答帖子人气", "quesAnswPageViewIndex", "pageView")
            </div>
        </div>
    </div>
    <div class="result-content">
        <form action="~/backStage/pageView/forumInvitationUpdate" method="post">
            @Html.TextBoxFor(u => u.postId, new { value = @ViewBag.postInfo.postId, hidden = "hidden" })
            <table class="insert-tab">
                <tbody>
                    <tr><th></th><td class="show-title">修改帖子信息</td></tr>
                    <tr>
                        <th>
                            查询成功
                        </th>
                        <td>
                            <h2>@ViewBag.IsSearchSuccess</h2>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            分区ID及名称
                        </th>
                        <td>
                            <select name="areaId">
                                @{
                                    foreach (var postArea in @ViewBag.postArea)
                                    {
                                        if (@postArea.areaId == @ViewBag.postInfo.areaId)
                                        {
                                            <option class="dropdown-list" selected="selected" value="@postArea.areaId">@postArea.areaId &nbsp&nbsp @postArea.areaName</option>
                                        }
                                        else
                                        {
                                            <option class="dropdown-list" value="@postArea.areaId">@postArea.areaId &nbsp&nbsp @postArea.areaName</option>
                                        }
                                    }
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            帖子ID
                        </th>
                        <td class="txt-unchange">
                            @ViewBag.postInfo.postId
                        </td>
                    </tr>
                    <tr>
                        <th>
                            帖子标题
                        </th>
                        <td>
                            @Html.TextBoxFor(u => u.postTitle, new { @Value = @ViewBag.postInfo.postTitle, @type = "text", @class = "input-content", @id = "postTitle", @name = "postTitle" })
                            <div class="error-mes">@Html.ValidationMessageFor(x => x.postTitle)</div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            用户名称
                        </th>
                        <td class="txt-unchange">
                            @ViewBag.userInfo.userName
                        </td>
                    </tr>
                    <tr>
                        <th>
                            是否置顶
                        </th>
                        <td>
                            <input type="radio" id="isPost" name="isPost" value="0" />否
                            <input type="radio" id="isPost" name="isPost" value="1" />是
                        </td>
                    </tr>
                    <tr>
                        <th>
                            是否付费
                        </th>
                        <td>
                            <input type="radio" id="isPay" name="isPay" value="0" />否
                            <input type="radio" id="isPay" name="isPay" value="1" />是
                        </td>
                    </tr>
                    <tr>
                        <th>
                            付费金额
                        </th>
                        <td>
                            @Html.TextBoxFor(u => u.amount, new { @Value = @ViewBag.postInfo.amount, @type = "text", @class = "input-content", @id = "amount", @name = "amount" })
                        </td>
                    </tr>
                    <tr>
                        <th>
                            帖子状态
                        </th>
                        <td>
                            <input type="radio" id="postStatus" name="postStatus" value="0" />所有人可见
                            <input type="radio" id="postStatus" name="postStatus" value="1" />好友可见
                            <input type="radio" id="postStatus" name="postStatus" value="2" />仅自己可见
                            <input type="radio" id="postStatus" name="postStatus" value="3" />隐藏
                        </td>
                    </tr>
                    <tr>
                        <th>
                            帖子内容
                        </th>
                        <td>
                            @Html.TextBoxFor(u => u.postContent, new { @Value = @ViewBag.postInfo.postContent, @type = "text", @class = "input-content contentDiv", @id = "postContent", @name = "postContent" })
                            <div class="error-mes">@Html.ValidationMessageFor(x => x.postContent)</div>
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>
                            <input class="btn-submit show-border" type="submit" id="postData" name="postData" value="修改" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
    </div>
</body>
<script>
    $(document).ready(function () {
        $("input:radio[name = 'isPost'][value = '@ViewBag.postInfo.isPost']").attr("checked", true);
        $("input:radio[name = 'isPay'][value = '@ViewBag.postInfo.isPay']").attr("checked", true);
        $("input:radio[name = 'postStatus'][value = '@ViewBag.postInfo.postStatus']").attr("checked", true);
    })
</script>
<script>
    $(document).ready(function () {
        var value = $('input:radio[name="isPay"]:checked').val();
        if (value == "1") {
            $("#amount").attr({ readonly: true });
        }
        else {
            $("#amount").attr({ readonly: false });
        }
    })
</script>
</html>

