@model Lazyfitness.Areas.DbTable.tables
@{
    Layout = "~/Views/Shared/_backStageMainStyle.cshtml";
    ViewBag.title = "评论管理";
}
<!--/sidebar-->
<div class="main-wrap">
    <div class="crumb-wrap">
        <div class="crumb-list">
            <i class="icon-font">🔈</i><span>欢迎使用小懒人共享健身后台管理系统</span>
        </div>
    </div>
    <div class="result-wrap">
        <div class="result-title">
            <h1>可选操作</h1>
        </div>
        <div class="result-content">
            <div class="short-wrap">
                @Html.ActionLink("资源文章人气", "articlePageViewIndex", "pageView")
                @Html.ActionLink("论坛帖子人气", "forumPageViewIndex", "pageView")
                @Html.ActionLink("问答帖子人气", "quesAnswPageViewIndex", "pageView")
            </div>
        </div>
    </div>
</div>
<div content="index-content ">
    <div class="article-number content-container">
        <div class="box-title">
            <span>资源文章评论数量</span>
        </div>
        <div class="box-data-total">
            @ViewBag.articleNum
        </div>
        <div class="day-register-number">
            <span>日评论量</span>
            <span class="day-number">1000</span>
        </div>
    </div>
    <div class="question-answer-number content-container">
        <div class="box-title">
            <span>论坛帖子评论数量</span>
        </div>
        <div class="box-data-total">
            @ViewBag.postNum
        </div>
        <div class="day-register-number">
            <span>日评论量</span>
            <span class="day-number">1000</span>
        </div>
    </div>
    <div class="forum-number content-container">
        <div class="box-title">
            <span>问答帖子评论数量</span>
        </div>
        <div class="box-data-total">
            @ViewBag.quesAnswNum
        </div>
        <div class="day-register-number">
            <span>日评论量</span>
            <span class="day-number">1000</span>
        </div>
    </div>
</div>

<div class="box-designer">
    <i>Lazyfitness was designed by: Oliver，Kaimar and Eason</i>
</div>
    </div>
    </div>
</body>
</html>
