@model Lazyfitness.Models.quesAnswInfo
@{
    Layout = "~/Views/Shared/_backStageMainStyle.cshtml";
    ViewBag.title = "问答帖子人气";
}
<!--/sidebar-->
<div class="main-wrap">
    <div class="crumb-wrap">
        <div class="crumb-list">
            <i class="icon-font">🔈</i><span>欢迎使用小懒人共享健身后台管理系统</span>
        </div>
    </div>
    <div class="result-wrap">
        <div class="result-title">
            <h1>可选操作</h1>
        </div>

        <div class="result-content">
            <div class="short-wrap">
                @Html.ActionLink("资源文章人气", "articlePageViewIndex", "pageView")
                @Html.ActionLink("论坛帖子人气", "forumPageViewIndex", "pageView")
                @Html.ActionLink("问答帖子人气", "quesAnswPageViewIndex", "pageView")
            </div>
        </div>
    </div>
    <div class="result-content">
        <form action="~/backStage/pageView/quesAnswInvitationUpdate" method="post">
            @Html.TextBoxFor(u => u.quesAnswId, new { value = @ViewBag.quesAnswInfo.areaId, hidden = "hidden" })
            <table class="insert-tab">
                <tbody>
                    <tr><th></th><td class="show-title">修改问答帖子信息</td></tr>
                    <tr>
                        <th>
                            查询成功
                        </th>
                        <td>
                            <h2>@ViewBag.IsSearchSuccess</h2>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            分区ID及名称
                        </th>
                        <td>
                            <select name="areaId">
                                @{
                                    foreach (var quesArea in @ViewBag.quesArea)
                                    {
                                        if (@quesArea.areaId == @ViewBag.quesAnswInfo.areaId)
                                        {
                                            <option class="dropdown-list" selected="selected" value="@quesArea.areaId">@quesArea.areaId &nbsp&nbsp @quesArea.areaName</option>
                                        }
                                        else
                                        {
                                            <option class="dropdown-list" value="@quesArea.areaId">@quesArea.areaId &nbsp&nbsp @quesArea.areaName</option>
                                        }
                                    }
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            帖子ID
                        </th>
                        <td class="txt-unchange">
                            @ViewBag.quesAnswInfo.quesAnswId
                        </td>
                    </tr>
                    <tr>
                        <th>
                            帖子标题
                        </th>
                        <td>
                            @Html.TextBoxFor(u => u.quesAnswTitle, new { @Value = @ViewBag.quesAnswInfo.quesAnswTitle, @type = "text", @class = "input-content", @id = "quesAnswTitle", @name = "quesAnswTitle" })
                            <div class="error-mes">@Html.ValidationMessageFor(x => x.quesAnswTitle)</div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            用户名称
                        </th>
                        <td class="txt-unchange">
                            @ViewBag.userInfo.userName
                        </td>
                    </tr>
                    <tr>
                        <th>
                            是否置顶
                        </th>
                        <td>
                            <input type="radio" id="isPost" name="isPost" value="0" />否
                            <input type="radio" id="isPost" name="isPost" value="1" />是
                        </td>
                    </tr>
                    <tr>
                        <th>
                            付费金额
                        </th>
                        <td>
                            @Html.TextBoxFor(u => u.amount, new { @Value = @ViewBag.quesAnswInfo.amount, @id = "amount", @name = "amount" })
                        </td>
                    </tr>
                    <tr>
                        <th>
                            帖子状态
                        </th>
                        <td>
                            <input type="radio" id="quesAnswStatus" name="quesAnswStatus" value="0" />所有人可见
                            <input type="radio" id="quesAnswStatus" name="quesAnswStatus" value="1" />好友可见
                            <input type="radio" id="quesAnswStatus" name="quesAnswStatus" value="2" />仅自己可见
                            <input type="radio" id="quesAnswStatus" name="quesAnswStatus" value="3" />隐藏
                        </td>
                    </tr>
                    <tr>
                        <th>
                            帖子内容
                        </th>
                        <td>
                            @Html.TextBoxFor(u => u.quesAnswContent, new { @Value = @ViewBag.quesAnswInfo.quesAnswContent, @type = "text", @class = "input-content", @id = "quesAnswContent", @name = "quesAnswContent" })
                            <div class="error-mes">@Html.ValidationMessageFor(x => x.quesAnswContent)</div>
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>
                            <input class="btn-submit show-border" type="submit" id="postData" name="postData" value="修改" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
    </div>
</body>
<script>
    $(document).ready(function () {
        $("input:radio[name = 'isPost'][value = '@ViewBag.quesAnswInfo.isPost']").attr("checked", true);
        $("input:radio[name = 'quesAnswStatus'][value = '@ViewBag.quesAnswInfo.quesAnswStatus']").attr("checked", true);
    })
</script>
</html>