@model Lazyfitness.Models.recharge
@{
    Layout = "~/Views/Shared/_backStageMainStyle.cshtml";
    ViewBag.Title = "修改充值卡信息";
}
<!--/sidebar-->
<div class="main-wrap">
    <div class="crumb-wrap">
        <div class="crumb-list">
            <i class="icon-font">🔈</i><span>欢迎使用小懒人共享健身后台管理系统</span>
        </div>
    </div>
    <div class="result-wrap">
        <div class="result-title">
            <h1>可选操作</h1>
        </div>
        <div class="result-content">
            <div class="short-wrap">
                @Html.ActionLink("用户账户管理", "userAccountManagement")
                @Html.ActionLink("充值卡管理", "refillCardManagement")
            </div>
        </div>
    </div>
</div>
@{
    if (ViewBag.allInfo != null)
    {
        <div class="result-content">
            <form method="post" action="~/backStage/payManagement/changeCardInfo">
                <table class="insert-tab">
                    <tr>
                        <th colspan="2">修改充值卡信息</th>
                    </tr>
                    <tr>
                        <th>卡号</th>
                        <td>
                            @Html.TextBoxFor(u => u.rechargeId, new { Value = ViewBag.allInfo.rechargeId, @readonly = "readonly", @class= "input-content txt-unchange" })
                            <div class="error-mes">
                                @Html.ValidationMessageFor(u => u.rechargeId)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>密码</th>
                        <td>
                            @Html.TextBoxFor(u => u.rechargePwd, new { Value = ViewBag.allInfo.rechargePwd, @class="input-content" })
                            <div class="error-mes">
                                @Html.ValidationMessageFor(u => u.rechargePwd)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>充值金额</th>
                        <td>
                            @Html.TextBoxFor(u => u.amount, new { Value = ViewBag.allInfo.amount, @class="input-content" })
                            <div class="error-mes">
                                @Html.ValidationMessageFor(u => u.amount)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>是否可用</th>
                        <td>
                            @{
                                if (ViewBag.allInfo.isAvailable == 0)
                                {
                                    @Html.RadioButtonFor(u => u.isAvailable, 0, new { @checked = "checked" }) <label>否</label>
                                    @Html.RadioButtonFor(u => u.isAvailable, 1)<label>是</label>
                                }
                                if (ViewBag.allInfo.isAvailable == 1)
                                {
                                    @Html.RadioButtonFor(u => u.isAvailable, 0) <label>否</label>
                                    @Html.RadioButtonFor(u => u.isAvailable, 1, new { @checked = "checked" })<label>是</label>
                                }
                            }
                            <div class="error-mes">
                                @Html.ValidationMessageFor(u => u.isAvailable)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td><input class="btn-submit show-border" type="submit" value="确定修改" /></td>
                    </tr>                   
                </table>
            </form>
        </div>    
    }
}
