@model Lazyfitness.Models.recharge
@using Lazyfitness.Models
@{
    ViewBag.Title = "充值管理";
    Layout = "~/Views/Shared/_backStageMainStyle.cshtml";
}
@{
    int nowPage = Convert.ToInt32(ViewBag.nowPage);
    int sumPage = Convert.ToInt32(ViewBag.sumPage);
}
<!--/sidebar-->
<div class="main-wrap">
    <div class="crumb-wrap">
        <div class="crumb-list">
            <i class="icon-font">🔈</i><span>欢迎使用TPAS后台管理系统</span>
        </div>
    </div>
    <div class="result-wrap">
        <div class="result-title">
            <h1>可选操作</h1>
        </div>
        <div class="result-content">
            <div class="short-wrap">
                @Html.ActionLink("增加充值卡", "addCard", "payManagement")
                @Html.ActionLink("删除充值卡", "deleteCard", "payManagement")
                @Html.ActionLink("修改充值卡", "searchCard", "payManagement")
            </div>
        </div>
    </div>
</div>
<div class="result-content">

    @if (ViewBag.allInfo != null)
    {
        <table class="result-tab">
            <tr>
                <th>卡号</th>
                <th>卡密</th>
                <th>充值的金额</th>
                <th>是否可用</th>
                <th colspan="2">可选操作</th>
            </tr>
            @{
                foreach (var item in ViewBag.allInfo)
                {
                    <tr>
                        <td>
                            <div class="contentDiv">
                                @item.rechargeId
                            </div>
                        </td>
                        <td>
                            <div class="contentDiv">
                                @item.rechargePwd
                            </div>
                        </td>
                        <td>
                            <div class="numberDiv">
                                @item.amount
                            </div>
                        </td>
                        <td>
                            <div class="numberDiv">
                                @if (item.isAvailable == 0)
                                {
                                    <label>否</label>
                                }
                                @if (item.isAvailable == 1)
                                {
                                    <label>是</label>
                                }
                            </div>
                        </td>
                        <td>
                            <div class="numberDiv">
                                <form method="post" action="~/backStage/payManagement/changeCard">
                                    <input type="text" name="rechargeId" id="rechargeId" value="@item.rechargeId" hidden="hidden" />
                                    <input class="index-btn" type="submit" value="修改">
                                </form>
                            </div>
                        </td>
                        <td>
                            <div class="numberDiv">
                                <form method="post" action="~/backStage/payManagement/deleteCard">
                                    <input type="text" name="rechargeId" id="rechargeId" value="@item.rechargeId" hidden="hidden" />
                                    <input class="index-btn" type="submit" value="删除">
                                </form>
                            </div>
                        </td>
                    </tr>
                }
            }

        </table>
        <div class="page-number">
            <ul>
                <li style="float:left">
                    <form method="post" action="~/backStage/payManagement/Index" style="float:left" autocomplete="off">
                        @{
                            int leftNumber = nowPage - 1;
                        }
                        <span><button class="left_rightIcon" type="submit" name="id" value="@leftNumber"><strong><</strong></button></span>
                    </form>
                    <form method="post" action="~/backStage/payManagement/Index" style="float:left" autocomplete="off">
                        <input required name="id" style="width:60px" type="number" />
                        <button class="skip" type="submit">跳转</button>
                    </form>
                    <form method="post" action="~/backStage/payManagement/Index" style="float:left" autocomplete="off">
                        @{
                            int rightNumber = nowPage + 1;
                        }
                        <span><button class="left_rightIcon" type="submit" name="id" value="@rightNumber"><strong>></strong></button></span>
                    </form>
                </li>
                <li style="float:left">
                    <input class="text-summer" readonly="readonly" value="当前第 @nowPage 页, 共 @sumPage 页" />
                </li>
            </ul>
        </div>
    }

</div>
