@model Lazyfitness.Models.userInfo
@{
    ViewBag.Title = "用户账户管理";
    Layout = "~/Views/Shared/_backStageMainStyle.cshtml";
}
<script src="~/Areas/jQuery/resetAccout.js"></script>
<!--/sidebar-->
<div class="main-wrap">
    <div class="crumb-wrap">
        <div class="crumb-list">
            <i class="icon-font">🔈</i><span>欢迎使用小懒人共享健身后台管理系统</span>
        </div>
    </div>
    <div class="result-wrap">
        <div class="result-title">
            <h1>可选操作</h1>
        </div>
        <div class="result-content">
            <div class="short-wrap">
                @Html.ActionLink("用户账户管理", "userAccountManagement")
                @Html.ActionLink("充值卡管理", "refillCardManagement")
            </div>
        </div>
    </div>
</div>





<form style="float:right" method="post" action="~/backStage/payManagement/findUser">
    <table class="insert-tab-copy">
        <tr>
            <th>用户名</th>
            <td>
                @Html.TextBoxFor(u => u.userName, new { @class = "input-content" })
                <input class="btn-submit show-border" type="submit" value="查询" />
                <div class="error-mes">
                    @Html.ValidationMessageFor(u => u.userName)
                </div>
            </td>
        </tr>
    </table>
</form>


<div class="result-content">
    <table class="result-tab">
        <tr>
            <th>用户名</th>
            <th>用户账户余额</th>
            <th colspan="2">可选操作</th>
        </tr>
        @foreach (var item in ViewBag.allInfo)
        {
            <tr>
                <td>@item.userName</td>
                <td>@item.userAccount</td>
                <td>
                    <form method="post" action="~/backStage/payManagement/findUser">
                        <input type="text" id="userName" name="userName" value=@item.userName hidden="hidden" />
                        <input class="index-btn" type="submit" id="changeAccount" name="changeAccount" value="修改余额"/>
                        @*<button type="submit" id="changeAccount" name="changeAccount" value="@item.userId">修改余额</button>*@
                    </form>
                </td>
                <td><button class="resetAccount index-btn" id="resetAccount" name="resetAccount" value="@item.userId">余额清零</button></td>
            </tr>

        }
    </table>
    <div class="page-number">
        <ul>
            @{
                for (int i = 1; i <= ViewBag.sumPage; i++)
                {

                    <li style="float:left">
                        <form method="post" action="~/backStage/payManagement/userAccountManagement">
                            <input class="id" id="id" name="id" type="text" value=@i hidden="hidden" />
                            <input type="submit" class="btn-submit" value=@i />
                        </form>
                    </li>
                }
            }
            <li style="float:left;"><input class="text-summer" readonly="readonly" value="当前第 @ViewBag.nowPage 页, 共 @ViewBag.sumPage 页" /></li>
        </ul>
    </div>
</div>    