@model Lazyfitness.Models.userInfo
@{
    ViewBag.Title = "userAccountManagement";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Areas/jQuery/resetAccout.js"></script>
<h2>userAccountManagement</h2>

<form method="post" action="~/backStage/payManagement/findUser">
    @Html.TextBoxFor(u => u.userName) @Html.ValidationMessageFor(u=>u.userName)
    <input type="submit" value="查询" />
</form>

@{
    if (ViewBag.allList != null)
    {
        <table border="1">
            <tr>
                <td>用户名</td>
                <td>账户余额</td>
                <td colspan="2" style="text-align:center">可用操作</td>
            </tr>
            @foreach (var item in ViewBag.allList)
            {
                <tr>
                    <td>@item.userName</td>
                    <td>@item.userAccount</td>                   
                    <td>
                        <form method="post" action="~/backStage/payManagement/findUser"> 
                            <input type="text" id="userName" name="userName" value=@item.userName hidden="hidden" />
                            <button type="submit" id="changeAccount" name="changeAccount" value="@item.userId">修改余额</button>
                        </form>
                    </td>
                    <td><button class="resetAccount" id="resetAccount" name="resetAccount" value="@item.userId">余额清零</button></td>
                </tr>

            }
        </table>
    }
}