@using Lazyfitness.Models
@model Lazyfitness.Models.quesArea
@{
    Layout = "~/Views/Shared/_backStageMainStyle.cshtml";
    ViewBag.title = "问答分区管理";
}
@{
    quesArea areaInfo = ViewBag.areaInfo as quesArea;
}
<!--/sidebar-->
<div class="main-wrap">
    <div class="crumb-wrap">
        <div class="crumb-list">
            <i class="icon-font">🔈</i><span>欢迎使用小懒人共享健身后台管理系统</span>
        </div>
    </div>

    <div class="result-wrap">
        <div class="result-title">
            <h1>可选操作</h1>
        </div>
        <div class="result-content">
            <div class="short-wrap">
                @Html.ActionLink("增加问答分区", "quesAnswAreaAdd", "quesAnswManagement")
                @Html.ActionLink("删除问答分区", "quesAnswAreaDelete", "quesAnswManagement")
                @Html.ActionLink("修改问答分区信息", "quesAnswAreaSearch", "quesAnswManagement")
            </div>
        </div>
    </div>
    <div class="result-content">
        <form action="~/backStage/quesAnswManagement/quesAnswAreaUpdate" method="post" autocomplete="off">
            <table class="insert-tab">
                <tbody>
                    <tr><th></th><td class="show-title">修改问答分区信息</td></tr>
                    <tr>
                        <th>
                            分区Id
                        </th>
                        <td>
                            @Html.TextBoxFor(u => u.areaId, new { @Value = areaInfo.areaId, @class = "input-content txt-unchange", @readonly = "readonly" })
                            <div class="error-mes">
                                @Html.ValidationMessageFor(u => u.areaId)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            分区名称
                        </th>
                        <td>
                            @Html.TextBoxFor(u => u.areaName, new { @Value = areaInfo.areaName, @type = "text", @class = "input-content" })
                            <div class="error-mes">@Html.ValidationMessageFor(x => x.areaName)</div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            分区描述
                        </th>
                        <td>
                            @Html.TextBoxFor(u => u.areaBrief, new { @Value = areaInfo.areaBrief, @type = "text", @class = "input-content" })
                            <div class="error-mes">@Html.ValidationMessageFor(x => x.areaBrief)</div>
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>
                            <input class="btn-submit show-border" type="submit" id="postData" name="postData" value="修改" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>

