@model Lazyfitness.Models.quesAnswInfo
@{
    Layout = "~/Views/Shared/_backStageMainStyle.cshtml";
    ViewBag.title = "问答帖子管理";
}

<link href="~/Css/Editor.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" charset="utf-8" src="~/Content/utf8-net/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="~/Content/utf8-net/ueditor.all.min.js"></script>
<script type="text/javascript" charset="utf-8" src="~/Content/utf8-net/lang/zh-cn/zh-cn.js"></script>

<script type="text/javascript">
    var editor = new baidu.editor.ui.Editor({

        initialFrameWidth: 680,
        initialFrameHeight: 300,
        elementPathEnabled: false,
        wordCount: false,
    });
    editor.render('quesAnswContent');
</script>

<!--/sidebar-->
<div class="main-wrap">
    <div class="crumb-wrap">
        <div class="crumb-list">
            <i class="icon-font">🔈</i><span>欢迎使用小懒人共享健身后台管理系统</span>
        </div>
    </div>
    <div class="result-wrap">
        <div class="result-title">
            <h1>可选操作</h1>
        </div>

        <div class="result-content">
            <div class="short-wrap">
                @Html.ActionLink("增加问答帖子", "quesAnswInvitationAdd", "quesAnswManagement")
                @Html.ActionLink("删除问答帖子", "quesAnswInvitationDelete", "quesAnswManagement")
                @Html.ActionLink("修改问答帖子信息", "quesAnswInvitationSearch", "quesAnswManagement")
            </div>
        </div>
    </div>
    <div class="result-content">
        <form action="~/backStage/quesAnswManagement/quesAnswInvitationUpdate" method="post">
            @Html.TextBoxFor(u => u.quesAnswId, new { value = @ViewBag.quesAnswInfo.areaId, hidden = "hidden" })
            <table class="insert-tab">
                <tbody>
                    <tr><th></th><td class="show-title">修改问答帖子信息</td></tr>
                    <tr>
                        <th>
                            查询成功
                        </th>
                        <td>
                            <h2>@ViewBag.IsSearchSuccess</h2>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            分区ID及名称
                        </th>
                        <td>
                            <select name="areaId">
                                @{
                                    foreach (var quesArea in @ViewBag.quesArea)
                                    {
                                        if (@quesArea.areaId == @ViewBag.quesAnswInfo.areaId)
                                        {
                                            <option class="dropdown-list" selected="selected" value="@quesArea.areaId">@quesArea.areaId &nbsp&nbsp @quesArea.areaName</option>
                                        }
                                        else
                                        {
                                            <option class="dropdown-list"  value="@quesArea.areaId">@quesArea.areaId &nbsp&nbsp @quesArea.areaName</option>
                                        }
                                    }
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            帖子ID
                        </th>
                        <td class="txt-unchange">
                            @ViewBag.quesAnswInfo.quesAnswId
                        </td>
                    </tr>
                    <tr>
                        <th>
                            帖子标题
                        </th>
                        <td>
                            @Html.TextBoxFor(u => u.quesAnswTitle, new { @Value = @ViewBag.quesAnswInfo.quesAnswTitle, @type = "text", @class = "input-content", @id = "quesAnswTitle", @name = "quesAnswTitle" })
                            <div class="error-mes">@Html.ValidationMessageFor(x => x.quesAnswTitle)</div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            用户名称
                        </th>
                        <td class="txt-unchange">
                            @ViewBag.userInfo.userName
                        </td>
                    </tr>
                    <tr>
                        <th>
                            是否置顶
                        </th>
                        <td>
                            <input type="radio" id="isPost" name="isPost" value="0" />否
                            <input type="radio" id="isPost" name="isPost" value="1" />是
                        </td>
                    </tr>
                    <tr>
                        <th>
                            付费金额
                        </th>
                        <td>
                            @Html.TextBoxFor(u => u.amount, new { @Value = @ViewBag.quesAnswInfo.amount, @id = "amount", @name = "amount", @class="input-content" })
                        </td>
                    </tr>
                    <tr>
                        <th>
                            帖子状态
                        </th>
                        <td>
                            <input type="radio" id="quesAnswStatus" name="quesAnswStatus" value="0" />隐藏
                            <input type="radio" id="quesAnswStatus" name="quesAnswStatus" value="1" />不可回复
                            <input type="radio" id="quesAnswStatus" name="quesAnswStatus" value="2" />可回复
                        </td>
                    </tr>
                    <tr>
                        <th>
                            帖子内容
                        </th>
                         <td style="padding:10px">
                            <input type="hidden" id="getContent" value=@ViewBag.quesAnswInfo.quesAnswContent />
                            <textarea id="quesAnswContent" name="quesAnswContent"></textarea>
                            <script>
                                $(document).ready(function () {
                                    var getContent = $("#getContent").val();
                                    $("#quesAnswContent").val(getContent);
                                })
                            </script>
                        </td>                     
                    </tr>
                    <tr>
                        <th></th>
                        <td>
                            <input class="btn-submit show-border" type="submit" id="postData" name="postData" value="修改" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
    </div>
</body>
<script>
    $(document).ready(function () {
        $("input:radio[name = 'isPost'][value = '@ViewBag.quesAnswInfo.isPost']").attr("checked", true);
        $("input:radio[name = 'quesAnswStatus'][value = '@ViewBag.quesAnswInfo.quesAnswStatus']").attr("checked", true);
    })
</script>
</html>

