
@{
    ViewBag.Title = "quesAnswInvitationUpdate";
}
@model Lazyfitness.Models.quesAnswInfo

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("input:radio[name = 'isPost'][value = '@ViewBag.isPost']").attr("checked", true);
        $("input:radio[name = 'quesAnswStatus'][value = '@ViewBag.quesAnswStatus']").attr("checked", true);
    });
</script>

<h2>quesAnswInvitationUpdate</h2>
<h2>问答帖子修改</h2>
<form method="post" action="~/backStage/quesAnswManagement/quesAnswInvitationUpdate">
    <label>查询成功:</label> @ViewBag.IsSearchSuccess<br />
    <label>问答分区ID</label> @Html.TextBoxFor(u => u.areaId, new { @Value = @ViewBag.areaId }) @Html.ValidationMessageFor(x => x.areaId)<br />
    <label>问答帖子ID</label>@Html.TextBoxFor(u => u.quesAnswId, new { @Value = @ViewBag.quesAnswId }) @Html.ValidationMessageFor(x => x.quesAnswId)<br />
    <label>问答帖子标题</label>@Html.TextBoxFor(u => u.quesAnswTitle, new { @Value = @ViewBag.quesAnswTitle }) @Html.ValidationMessageFor(x => x.quesAnswTitle)<br />
    <label>用户ID</label>@Html.TextBoxFor(u => u.userId, new { @Value = @ViewBag.userId }) @Html.ValidationMessageFor(x => x.userId)<br />
    <label>是否置顶</label>
    <input type="radio" id="isPost" name="isPost" value="0" />否
    <input type="radio" id="isPost" name="isPost" value="1" />是
    <br />
    <label>帖子状态</label>
    <input type="radio" id="quesAnswStatus" name="quesAnswStatus" value="0" />所有人可见
    <input type="radio" id="quesAnswStatus" name="quesAnswStatus" value="1" />好友可见
    <input type="radio" id="quesAnswStatus" name="quesAnswStatus" value="2" />仅自己可见
    <input type="radio" id="quesAnswStatus" name="quesAnswStatus" value="3" />隐藏
    <br />
    <label>帖子内容</label>@Html.TextBoxFor(u => u.quesAnswContent, new { @Value = @ViewBag.quesAnswContent }) @Html.ValidationMessageFor(x => x.quesAnswContent)<br />
    <input type="submit" id="postData" name="postData" value="修改" />
</form>

<br /><a href="~/backStage/quesAnswManagement/Index">返回</a><br />

