@model Lazyfitness.Areas.DbTable.tables
@using Lazyfitness.Models
@{
    Layout = "~/Views/Shared/_backStageMainStyle.cshtml";
    ViewBag.title = "问答分区管理";
}
@{ 
    int nowPage = Convert.ToInt32(ViewBag.nowPage);
    int sumPage = Convert.ToInt32(ViewBag.sumPage);
    quesArea[] allInfo = ViewBag.allInfo as quesArea[];
}
<!--/sidebar-->
<div class="main-wrap">
    <div class="crumb-wrap">
        <div class="crumb-list">
            <i class="icon-font">🔈</i><span>欢迎使用小懒人共享健身后台管理系统</span>
        </div>
    </div>
    <div class="result-wrap">
        <div class="result-title">
            <h1>可选操作</h1>
        </div>
        <div class="result-content">
            <div class="short-wrap">
                @Html.ActionLink("增加问答分区", "quesAnswAreaAdd", "quesAnswManagement")
                @Html.ActionLink("删除问答分区", "quesAnswAreaDelete", "quesAnswManagement")
                @Html.ActionLink("修改问答分区信息", "quesAnswAreaSearch", "quesAnswManagement")
            </div>
        </div>
    </div>
</div>
<div class="result-content">
    <table class="result-tab">
        <tr>
            <th>分区名称</th>
            <th>分区编号</th>
            <th>分区描述</th>
            <th colspan="2">可选操作</th>
        </tr>
        @if (allInfo != null && allInfo.Length != 0)
        {
            foreach (var item in allInfo)
            {
                <tr>
                    <td>@item.areaName</td>
                    <td id="areaId">@item.areaId</td>
                    <td>@item.areaBrief</td>
                    <td>
                        <form method="post" action="~/backStage/quesAnswManagement/quesAnswAreaSearch">
                            <input type="text" name="areaId" id="areaId" value="@item.areaId" hidden="hidden" />
                            <input class="index-btn" type="submit" value="修改">
                        </form>
                    </td>
                    <td>
                        <form method="post" action="~/backStage/quesAnswManagement/quesAnswAreaDelete">
                            <input type="text" name="areaId" id="areaId" value=@item.areaId hidden="hidden" />
                            <input class="index-btn" type="submit" value="删除">
                        </form>
                    </td>
                </tr>
            }
        }
    </table>

    <div class="page-number">
        <ul>
            @{
                for (int i = 1; i <= sumPage; i++)
                {

                    <li style="float:left">
                        <form method="post" action="~/backStage/quesAnswManagement/quesAnswAreaIndex">
                            <input class="id" id="id" name="id" type="text" value=@i hidden="hidden" />
                            <input type="submit" class="btn-submit" value=@i />
                        </form>
                    </li>
                }
            }
            <li style="float:left;"><input class="text-summer" readonly="readonly" value="当前第 @nowPage 页, 共 @sumPage 页" /></li>
        </ul>
    </div>
</div>