@model Lazyfitness.Models.quesAnswInfo
@{
    Layout = "~/Views/Shared/_backStageMainStyle.cshtml";
    ViewBag.title = "问答帖子管理";
}
<!--/sidebar-->
<div class="main-wrap">
    <div class="crumb-wrap">
        <div class="crumb-list">
            <i class="icon-font">🔈</i><span>欢迎使用小懒人共享健身后台管理系统</span>
        </div>
    </div>
    <div class="result-wrap">
        <div class="result-title">
            <h1>可选操作</h1>
        </div>

        <div class="result-content">
            <div class="short-wrap">
                @Html.ActionLink("增加问答帖子", "quesAnswInvitationAdd", "quesAnswManagement")
                @Html.ActionLink("删除问答帖子", "quesAnswInvitationDelete", "quesAnswManagement")
                @Html.ActionLink("修改问答帖子信息", "quesAnswInvitationSearch", "quesAnswManagement")
            </div>
        </div>
    </div>
    <div class="result-content">
        <form action="~/backStage/quesAnswManagement/quesAnswInvitationDelete" method="post">
            <table class="insert-tab">
                <tr><th></th><td class="show-title">删除问答帖子</td></tr>
                <tr>
                    <th>
                        帖子ID
                    </th>
                    <td>
                        <select name="quesAnswId">
                            @{
                                foreach (var quesAnswInfo in @ViewBag.quesAnswInfo)
                                {
                                    <option value="@quesAnswInfo.quesAnswId">@quesAnswInfo.quesAnswId &nbsp&nbsp @quesAnswInfo.quesAnswTitle</option>
                                }
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <td>
                        <input class="btn-submit show-border" type="submit" id="postData" name="postData" value="删除" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
    </div>
</body>
</html>

