@model Lazyfitness.Models.quesAnswInfo
@using Lazyfitness.Models
@{
    Layout = "~/Views/Shared/_backStageMainStyle.cshtml";
    ViewBag.title = "问答帖子管理";
}
@{
    quesArea[] areaList = ViewBag.quesArea as quesArea[];
}
<link href="~/Css/Editor.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" charset="utf-8" src="~/Content/utf8-net/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="~/Content/utf8-net/ueditor.all.min.js"></script>
<script type="text/javascript" charset="utf-8" src="~/Content/utf8-net/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript">
    var editor = new baidu.editor.ui.Editor({

        initialFrameWidth: 680,
        initialFrameHeight: 300,
        elementPathEnabled: false,
        wordCount: false,
    });

    editor.render('quesAnswContent');
</script>

<!--/sidebar-->
<div class="main-wrap">
    <div class="crumb-wrap">
        <div class="crumb-list">
            <i class="icon-font">🔈</i><span>欢迎使用小懒人共享健身后台管理系统</span>
        </div>
    </div>
    <div class="result-wrap">
        <div class="result-title">
            <h1>可选操作</h1>
        </div>

        <div class="result-content">
            <div class="short-wrap">
                @*@Html.ActionLink("增加问答帖子", "quesAnswInvitationAdd", "quesAnswManagement")
                @Html.ActionLink("删除问答帖子", "quesAnswInvitationDelete", "quesAnswManagement")
                @Html.ActionLink("修改问答帖子信息", "quesAnswInvitationSearch", "quesAnswManagement")*@
                @Html.ActionLink("返回上一级", "quesAnswInvitationIndex", "quesAnswManagement")
            </div>
        </div>
    </div>
    <div class="result-content">
        <form action="~/backStage/quesAnswManagement/quesAnswInvitationAdd" method="post" autocomplete="off">
            <table class="insert-tab">
                <tr><th></th><td class="show-title">问答帖子增加</td></tr>

                <tr>
                    <th>
                        分区名称
                    </th>
                    <td>
                        <select name="areaId">
                            @{
                                foreach (var quesArea in areaList)
                                {
                                    <option class="dropdown-list" value="@quesArea.areaId"> @quesArea.areaName</option>
                                }
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>
                        问答帖子标题
                    </th>
                    <td>
                        @Html.TextBoxFor(u => u.quesAnswTitle, new { @type = "text", @class = "input-content" })
                        <div class="error-mes">@Html.ValidationMessageFor(x => x.quesAnswTitle)</div>
                    </td>
                </tr>
                <tr>
                    <th>发表用户Id</th>
                    <td>
                        @Html.TextBoxFor(u => u.userId, new { @type = "text", @class = "input-content" })
                        <div class="error-mes">@Html.ValidationMessageFor(x => x.userId)</div>
                    </td>
                </tr>
                <tr>
                    <th>
                        是否置顶
                    </th>
                    <td>
                        @Html.RadioButtonFor(u => u.isPost, 0, new { @class = "radio-dis" })<lable>否</lable>
                        @Html.RadioButtonFor(u => u.isPost, 1, new { @class = "radio-dis" })<lable>是</lable>
                        <div class="error-mes">@Html.ValidationMessageFor(u => u.isPost)</div>
                    </td>
                </tr>
                <tr>
                    <th>
                        付费金额
                    </th>
                    <td>
                        @Html.TextBoxFor(u => u.amount, new { @id = "amount", @name = "amount", @class = "input-content" })
                        <div class="error-mes">
                            @Html.ValidationMessageFor(u => u.amount)
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>
                        帖子状态
                    </th>
                    <td>
                        @Html.RadioButtonFor(u => u.quesAnswStatus, 0, new { @class = "radio-dis" })<lable>关闭</lable>
                        @Html.RadioButtonFor(u => u.quesAnswStatus, 1, new { @class = "radio-dis" })<lable>未解决</lable>
                        @Html.RadioButtonFor(u => u.quesAnswStatus, 2, new { @class = "radio-dis" })<lable>已解决</lable>
                        <div class="error-mes">
                            @Html.ValidationMessageFor(u => u.quesAnswStatus)
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>
                        帖子内容
                    </th>
                    <td style="padding:10px">
                        <textarea id="quesAnswContent" name="quesAnswContent"></textarea>
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <td>
                        <input class="btn-submit show-border" type="submit" id="postData" name="postData" value="增加" />
                    </td>
                </tr>        
            </table>
        </form>
    </div>
</div>