@model Lazyfitness.Models.quesAnswInfo
@using Lazyfitness.Models
@{
    Layout = "~/Views/Shared/_backStageMainStyle.cshtml";
    ViewBag.title = "问答帖子管理";
}
@{
    quesArea[] areaList = ViewBag.quesArea as quesArea[];
    quesAnswInfo allInfo = ViewBag.allInfo as quesAnswInfo;
}

<link href="~/Css/Editor.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" charset="utf-8" src="~/Content/utf8-net/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="~/Content/utf8-net/ueditor.all.min.js"></script>
<script type="text/javascript" charset="utf-8" src="~/Content/utf8-net/lang/zh-cn/zh-cn.js"></script>

<script type="text/javascript">
    var editor = new baidu.editor.ui.Editor({

        initialFrameWidth: 680,
        initialFrameHeight: 300,
        elementPathEnabled: false,
        wordCount: false,
    });
    editor.render('quesAnswContent');
</script>

<!--/sidebar-->
<div class="main-wrap">
    <div class="crumb-wrap">
        <div class="crumb-list">
            <i class="icon-font">🔈</i><span>欢迎使用小懒人共享健身后台管理系统</span>
        </div>
    </div>
    <div class="result-wrap">
        <div class="result-title">
            <h1>可选操作</h1>
        </div>

        <div class="result-content">
            <div class="short-wrap">
                @*@Html.ActionLink("增加问答帖子", "quesAnswInvitationAdd", "quesAnswManagement")
                @Html.ActionLink("删除问答帖子", "quesAnswInvitationDelete", "quesAnswManagement")
                @Html.ActionLink("修改问答帖子信息", "quesAnswInvitationSearch", "quesAnswManagement")*@
                @Html.ActionLink("返回上一级", "quesAnswInvitationSearch", "quesAnswManagement")
            </div>
        </div>
    </div>
    <div class="result-content">
        <form action="~/backStage/quesAnswManagement/changeQuesAnswInfo" method="post" autocomplete="off">
            @Html.TextBoxFor(u => u.quesAnswId, new { value = allInfo.areaId, hidden = "hidden" })
            @if (allInfo != null && areaList != null && areaList.Length != 0)
            {
                <table class="insert-tab">
                    <tr>
                        <th>论坛帖子Id</th>
                        <td>
                            @Html.TextBoxFor(u => u.quesAnswId, new { @Value = allInfo.quesAnswId, @class = "input-content txt-unchange", @readonly = "readonly" })
                            <div class="error-mes">
                                @Html.ValidationMessageFor(u => u.quesAnswId)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>分区名</th>
                        <td>
                            @{
                                <select id="areaId" name="areaId">
                                    @foreach (var item in areaList)
                                    {
                                        if (item.areaId == allInfo.areaId)
                                        {
                                            <option class="dropdown-list" id="areaId" selected="selected" value=@item.areaId>@item.areaName</option>
                                        }
                                        else
                                        {
                                            <option class="dropdown-list" id="areaId" value=@item.areaId>@item.areaName</option>
                                        }
                                    }
                                </select>
                            }
                        </td>
                    </tr>
                    <tr>
                        <th>帖子名称</th>
                        <td>
                            @Html.TextBoxFor(u => u.quesAnswTitle, new { @Value = allInfo.quesAnswTitle, @class = "input-content" })
                            <div class="error-mes">
                                @Html.ValidationMessageFor(u => u.quesAnswTitle)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            发布的用户Id
                        </th>
                        <td>
                            @Html.TextBoxFor(u => u.userId, new { Value = allInfo.userId, @readonly = "readonly", @class = "input-content txt-unchange" })
                            <div class="error-mes">
                                @Html.ValidationMessageFor(u => u.userId)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            发布的时间
                        </th>
                        <td>
                            @Html.TextBoxFor(u => u.quesAnswTime, new { Value = allInfo.quesAnswTime, @class = "input-content no-border txt-unchange", @readonly = "readonly" })
                            <div class="error-mes">
                                @Html.ValidationMessageFor(u => u.quesAnswTime)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>访问量</th>
                        <td>
                            @Html.TextBoxFor(u => u.pageView, new {Value = allInfo.pageView, @class = "input-content" })
                            <div class="error-mes">
                                @Html.ValidationMessageFor(u => u.pageView)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>是否置顶</th>
                        <td>
                            @{
                                if (allInfo.isPost == 0 || allInfo.isPost == null)
                                {
                                    @Html.RadioButtonFor(u => u.isPost, 0, new { @checked = "checked", @class = "radio-dis" }) <label> 否 </label>
                                    @Html.RadioButtonFor(u => u.isPost, 1, new { @class = "radio-dis" }) <label>是</label>
                                }
                                else
                                {
                                    @Html.RadioButtonFor(u => u.isPost, 0, new { @class = "radio-dis" }) <label> 否 </label>
                                    @Html.RadioButtonFor(u => u.isPost, 1, new { @checked = "checked", @class = "radio-dis" }) <label>是</label>
                                }
                            }
                            <div class="error-mes">
                                @Html.ValidationMessageFor(u => u.isPost)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>付费金额</th>
                        <td>
                            @Html.TextBoxFor(u => u.amount, new { @Value = @allInfo.amount, @class = "input-content" })
                            <div class="error-mes">
                                @Html.ValidationMessageFor(u => u.amount)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>帖子状态</th>
                        <td>
                            @if (allInfo.quesAnswStatus == 0 || allInfo.quesAnswStatus == null)
                            {
                                @Html.RadioButtonFor(u => u.quesAnswStatus, 0, new { @clas = "radio-dis", @checked = "checked" })<lable>关闭</lable>
                                @Html.RadioButtonFor(u => u.quesAnswStatus, 1, new { @clas = "radio-dis" })<lable>未解决</lable>
                                @Html.RadioButtonFor(u => u.quesAnswStatus, 2, new { @clas = "radio-dis" })<lable>已解决</lable>
                            }
                            @if (allInfo.quesAnswStatus == 1)
                            {
                                @Html.RadioButtonFor(u => u.quesAnswStatus, 0, new { @clas = "radio-dis" })<lable>关闭</lable>
                                @Html.RadioButtonFor(u => u.quesAnswStatus, 1, new { @clas = "radio-dis", @checked = "checked" })<lable>未解决</lable>
                                @Html.RadioButtonFor(u => u.quesAnswStatus, 2, new { @clas = "radio-dis" })<lable>已解决</lable>
                            }
                            @if (allInfo.quesAnswStatus == 2)
                            {
                                @Html.RadioButtonFor(u => u.quesAnswStatus, 0, new { @clas = "radio-dis" })<lable>关闭</lable>
                                @Html.RadioButtonFor(u => u.quesAnswStatus, 1, new { @clas = "radio-dis" })<lable>未解决</lable>
                                @Html.RadioButtonFor(u => u.quesAnswStatus, 2, new { @clas = "radio-dis",  @checked = "checked" })<lable>已解决</lable>
                            }
                        </td>
                    </tr>
                    <tr>
                        <th>帖子内容</th>
                        <td style="padding:10px">
                            <input type="hidden" id="getContent" value="@allInfo.quesAnswContent" />
                            <textarea id="quesAnswContent" name="quesAnswContent"></textarea>
                            <script>
                                $(document).ready(function () {
                                    var getContent = $("#getContent").val();
                                    $("#quesAnswContent").val(getContent);
                                })
                            </script>
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td><input type="submit" class="input-btn show-border" value="修改" /></td>
                    </tr>
                </table>
            }
        </form>
    </div>
</div>
