@model Lazyfitness.Models.quesArea
@using Lazyfitness.Models;
@{
    Layout = "~/Views/Shared/_backStageMainStyle.cshtml";
    ViewBag.title = "问答分区管理";
}
@{
    quesArea[] quesAreaList = ViewBag.quesAreaList as quesArea[];
}
<!--/sidebar-->
<div class="main-wrap">
    <div class="crumb-wrap">
        <div class="crumb-list">
            <i class="icon-font">🔈</i><span>欢迎使用小懒人共享健身后台管理系统</span>
        </div>
    </div>

    <div class="result-wrap">
        <div class="result-title">
            <h1>可选操作</h1>
        </div>
        <div class="result-content">
            <div class="short-wrap">
                @*@Html.ActionLink("增加问答分区", "quesAnswAreaAdd", "quesAnswManagement")
                @Html.ActionLink("删除问答分区", "quesAnswAreaDelete", "quesAnswManagement")
                @Html.ActionLink("修改问答分区信息", "quesAnswAreaSearch", "quesAnswManagement")*@
                @Html.ActionLink("返回上一级", "quesAnswAreaIndex", "quesAnswManagement")
            </div>
        </div>
    </div>
    <div class="result-content">
        <form action="~/backStage/quesAnswManagement/quesAnswAreaDelete" method="post" autocomplete="off">
            <table class="insert-tab">
                <tr><th></th><td class="show-title">删除问答分区</td></tr>
                <tr>
                    <th>
                        分区名称
                    </th>
                    <td>
                        <select name="areaId">
                            @{
                                foreach (var item in quesAreaList)
                                {
                                    <option class="dropdown-list" value="@item.areaId">@item.areaName</option>
                                }
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <td>
                        <input class="btn-submit show-border" type="submit" id="postData" name="postData" value="删除" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
    </div>
</body>
</html>

