@model Lazyfitness.Areas.DbTable.tables
@using Lazyfitness.Models
@{
    Layout = "~/Views/Shared/_backStageMainStyle.cshtml";
    ViewBag.title = "论坛分区管理";
}
@{ 
    int nowPage = Convert.ToInt32(ViewBag.nowPage);
    int sumPage = Convert.ToInt32(ViewBag.sumPage);
    postArea[] allInfo = ViewBag.allInfo as postArea[];
}
<!--/sidebar-->
<div class="main-wrap">
    <div class="crumb-wrap">
        <div class="crumb-list">
            <i class="icon-font">🔈</i><span>欢迎使用小懒人共享健身后台管理系统</span>
        </div>
    </div>
    <div class="result-wrap">
        <div class="result-title">
            <h1>可选操作</h1>
        </div>
        <div class="result-content">
            <div class="short-wrap">
                @Html.ActionLink("增加分区", "forumAreaAdd", "forumManagement")
                @Html.ActionLink("删除分区", "forumAreaDelete", "forumManagement")
                @Html.ActionLink("修改分区信息", "forumAreaSearch", "forumManagement")
                @Html.ActionLink("返回上一级", "index", "forumManagement")
            </div>
        </div>
    </div>
</div>
<div class="result-content">
    <table class="result-tab">
        <tr>
            <th>分区名称</th>
            <th>分区编号</th>
            <th>分区描述</th>
            <th colspan="2">可选操作</th>
        </tr>
        @if (allInfo != null && allInfo.Length != 0)
        {
            foreach (var item in @allInfo)
            {
                <tr>
                    <td>
                        <div class="contentDiv">
                            @item.areaName
                        </div>
                    </td>
                    <td id="areaId">
                        <div class="numberDiv">
                            @item.areaId
                        </div>
                    </td>
                    <td>
                        <div class="contentDiv">
                            @item.areaBrief
                        </div>
                    </td>
                    <td>
                        <form method="post" action="~/backStage/forumManagement/changeforumArea">
                            <input type="text" name="areaId" id="areaId" value="@item.areaId" hidden="hidden" />
                            <input class="index-btn" type="submit" value="修改">
                        </form>
                    </td>
                    <td>
                        <form method="post" action="~/backStage/forumManagement/forumAreaDelete">
                            <input type="text" name="areaid" id="areaId" value=@item.areaId hidden="hidden" />
                            <input class="index-btn" type="submit" value="删除">
                        </form>
                    </td>
                </tr>
            }
        }
    </table>

    <div class="page-number">
        <ul>

            <li style="float:left">
                <form method="post" action="~/backStage/forumManagement/forumAreaIndex" style="float:left" autocomplete="off">
                    @{
                        int leftNumber = nowPage - 1;
                    }
                    <span><button class="left_rightIcon" type="submit" name="id" value="@leftNumber"><strong><</strong></button></span>
                </form>
                <form method="post" action="~/backStage/forumManagement/forumAreaIndex" style="float:left" autocomplete="off">
                    <input required name="id" style="width:60px" type="number" />
                    <button class="skip" type="submit">跳转</button>
                </form>
                <form method="post" action="~/backStage/forumManagement/forumAreaIndex" style="float:left" autocomplete="off">
                    @{
                        int rightNumber = nowPage + 1;
                    }
                    <span><button class="left_rightIcon" type="submit" name="id" value="@rightNumber"><strong>></strong></button></span>
                </form>
            </li>
            <li style="float:left">
                <input class="text-summer" readonly="readonly" value="当前第 @nowPage 页, 共 @sumPage 页" />
            </li>
        </ul>
    </div>
</div>