@model Lazyfitness.Models.postInfo
@using Lazyfitness.Models
@{
    Layout = "~/Views/Shared/_backStageMainStyle.cshtml";
    ViewBag.title = "论坛帖子管理";
}
@{ 
    postArea[] areaList = ViewBag.postArea as postArea[];
}
<link href="~/Css/Editor.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" charset="utf-8" src="~/Content/utf8-net/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="~/Content/utf8-net/ueditor.all.min.js"></script>
<script type="text/javascript" charset="utf-8" src="~/Content/utf8-net/lang/zh-cn/zh-cn.js"></script>

<script type="text/javascript">
    var editor = new baidu.editor.ui.Editor({

        initialFrameWidth: 680,
        initialFrameHeight: 300,
        elementPathEnabled: false,
        wordCount: false,
    });

    editor.render('postContent');
</script>


<!--/sidebar-->
<div class="main-wrap">
    <div class="crumb-wrap">
        <div class="crumb-list">
            <i class="icon-font">🔈</i><span>欢迎使用TPAS后台管理系统</span>
        </div>
    </div>
    <div class="result-wrap">
        <div class="result-title">
            <h1>可选操作</h1>
        </div>

        <div class="result-content">
            <div class="short-wrap">
                @*@Html.ActionLink("增加帖子", "forumInvitationAdd", "forumManagement")
                @Html.ActionLink("删除帖子", "forumInvitationDelete", "forumManagement")
                @Html.ActionLink("修改帖子信息", "forumInvitationSearch", "forumManagement")*@
                @Html.ActionLink("返回上一级", "forumInvitationIndex", "forumManagement")
            </div>
        </div>
    </div>
    <div class="result-content">
        <form action="~/backStage/forumManagement/forumInvitationAdd" method="post" autocomplete="off">
            <table class="insert-tab">
                <tr><th></th><td class="show-title">论坛帖子增加</td></tr>
                <tr>
                    <th>
                        分区名称
                    </th>
                    <td>
                        <select name="areaId">
                            @{
                                foreach (var postArea in areaList)
                                {
                                    <option class="dropdown-list" value="@postArea.areaId"> @postArea.areaName</option>
                                }
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>
                        帖子标题
                    </th>
                    <td>
                        @Html.TextBoxFor(u => u.postTitle, new { @type = "text", @class = "input-content" })
                        <div class="error-mes">@Html.ValidationMessageFor(x => x.postTitle)</div>
                    </td>
                </tr>
                <tr>
                    <th>发表用户Id</th>
                    <td>
                        @Html.TextBoxFor(u => u.userId, new { @type = "text", @class = "input-content" })
                        <div class="error-mes">@Html.ValidationMessageFor(x => x.userId)</div>
                    </td>
                </tr>
                <tr>
                    <th>
                        是否置顶
                    </th>
                    <td>
                        @Html.RadioButtonFor(u => u.isPost, 0, new { @class = "radio-dis" })<lable>否</lable>
                        @Html.RadioButtonFor(u => u.isPost, 1, new { @class = "radio-dis" })<lable>是</lable>
                        <div class="error-mes">@Html.ValidationMessageFor(u=>u.isPost)</div>
                    </td>
                </tr>
                <tr>
                    <th>
                        付费金额
                    </th>
                    <td>
                        @Html.TextBoxFor(u => u.amount, new { @id = "amount", @name = "amount", @class = "input-content" })
                        <div class="error-mes">
                            @Html.ValidationMessageFor(u => u.amount)
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>
                        帖子状态
                    </th>
                    <td>
                        @Html.RadioButtonFor(u => u.postStatus, 0, new { @class = "radio-dis" })<lable>关闭</lable>
                        @Html.RadioButtonFor(u => u.postStatus, 1, new { @class = "radio-dis" })<lable>正常</lable>
                        <div class="error-mes">
                            @Html.ValidationMessageFor(u => u.postStatus)
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>
                        帖子内容
                    </th>
                    <td style="padding:10px">
                        <textarea id="postContent" name="postContent"></textarea>                     
                    </td>             
                </tr>
                <tr>
                    <th></th>
                    <td>
                        <input class="btn-submit show-border" type="submit" id="postData" name="postData" value="增加" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
