@model Lazyfitness.Models.postInfo
@{
    Layout = "~/Views/Shared/_backStageMainStyle.cshtml";
    ViewBag.title = "论坛帖子管理";
}
<!--/sidebar-->
<div class="main-wrap">
    <div class="crumb-wrap">
        <div class="crumb-list">
            <i class="icon-font">🔈</i><span>欢迎使用小懒人共享健身后台管理系统</span>
        </div>
    </div>
    <div class="result-wrap">
        <div class="result-title">
            <h1>可选操作</h1>
        </div>

        <div class="result-content">
            <div class="short-wrap">
                @Html.ActionLink("增加帖子", "forumInvitationAdd", "forumManagement")
                @Html.ActionLink("删除帖子", "forumInvitationDelete", "forumManagement")
                @Html.ActionLink("修改帖子信息", "forumInvitationSearch", "forumManagement")
            </div>
        </div>
    </div>
    <div class="result-content">
        <form action="~/backStage/forumManagement/forumInvitationAdd" method="post">
            <table class="insert-tab">
                <tr><th></th><td class="show-title">论坛帖子增加</td></tr>
                <tr>
                    <th>
                        分区ID及名称
                    </th>
                    <td>
                        <select name="areaId">
                            @{
                                foreach (var postArea in @ViewBag.postArea)
                                {
                                    <option value="@postArea.areaId">@postArea.areaId &nbsp&nbsp @postArea.areaName</option>
                                }
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>
                        帖子ID
                    </th>
                    <td>
                        @Html.TextBoxFor(u => u.postId, new { @type = "text", @class = "input-content" })
                        <div class="error-mes">@Html.ValidationMessageFor(x => x.postId)</div>
                    </td>
                </tr>
                <tr>
                    <th>
                        帖子标题
                    </th>
                    <td>
                        @Html.TextBoxFor(u => u.postTitle, new { @type = "text", @class = "input-content" })
                        <div class="error-mes">@Html.ValidationMessageFor(x => x.postTitle)</div>
                    </td>
                </tr>
                <tr>
                    <th>
                        用户ID
                    </th>
                    <td>
                        @Html.TextBoxFor(u => u.userId, new { @type = "text", @class = "input-content" })
                        <div class="error-mes">@Html.ValidationMessageFor(x => x.userId)</div>
                    </td>
                </tr>
                <tr>
                    <th>
                        是否置顶
                    </th>
                    <td>
                        <input type="radio" id="isPost" name="isPost" value="0" />否
                        <input type="radio" id="isPost" name="isPost" value="1" />是
                    </td>
                </tr>
                <tr>
                    <th>
                        是否付费
                    </th>
                    <td>
                        <input type="radio" id="isPay" name="isPay" value="0" />否
                        <input type="radio" id="isPay" name="isPay" value="1" />是
                    </td>
                </tr>
                <tr>
                    <th>
                        付费金额
                    </th>
                    <td>
                        <script type="text/javascript">
                            $(document).ready(function () {
                                if ($('input[name="isPay"]:checked').val() == 1) {
                                    $("#amount").attr({ readonly: 'true' });
                                }
                                else {
                                    $("#amount").attr({ readonly: 'false' });
                                }
                            })
                        </script>
                        @Html.TextBoxFor(u => u.amount, new { @id = "amount", @name = "amount" })
                    </td>
                </tr>
                <tr>
                    <th>
                        帖子状态
                    </th>
                    <td>
                        <input type="radio" id="postStatus" name="postStatus" value="0" />所有人可见
                        <input type="radio" id="postStatus" name="postStatus" value="1" />好友可见
                        <input type="radio" id="postStatus" name="postStatus" value="2" />仅自己可见
                        <input type="radio" id="postStatus" name="postStatus" value="3" />隐藏
                    </td>
                </tr>
                <tr>
                    <th>
                        帖子内容
                    </th>
                    <td>
                        @Html.TextBoxFor(u => u.postContent, new { @type = "text", @class = "input-content" })
                        <div class="error-mes">@Html.ValidationMessageFor(x => x.postContent)</div>
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <td>
                        <input class="btn-submit show-border" type="submit" id="postData" name="postData" value="增加" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
    </div>
</body>
</html>

