@model Lazyfitness.Models.postArea
@{
    Layout = "~/Views/Shared/_backStageMainStyle.cshtml";
    ViewBag.title = "论坛分区管理";
}
<!--/sidebar-->
<div class="main-wrap">
    <div class="crumb-wrap">
        <div class="crumb-list">
            <i class="icon-font">🔈</i><span>欢迎使用小懒人共享健身后台管理系统</span>
        </div>
    </div>

    <div class="result-wrap">
        <div class="result-title">
            <h1>可选操作</h1>
        </div>
        <div class="result-content">
            <div class="short-wrap">
                @Html.ActionLink("增加分区", "forumAreaAdd", "forumManagement")
                @Html.ActionLink("删除分区", "forumAreaDelete", "forumManagement")
                @Html.ActionLink("修改分区信息", "forumAreaSearch", "forumManagement")
            </div>
        </div>
    </div>
    <div class="result-content">
        <form action="~/backStage/forumManagement/forumAreaDelete" method="post">
            <table class="insert-tab">
                <tr><th></th><td class="show-title">删除分区</td></tr>
                <tr>
                    <th>
                        分区名称
                    </th>
                    <td>
                        <select name="areaName">
                            @{
                                foreach (var areaName in @ViewBag.areaName)
                                {
                                    <option value="@areaName">@areaName</option>
                                }
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <td>
                        <input class="btn-submit show-border" type="submit" id="postData" name="postData" value="删除" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
    </div>
</body>
</html>