@model Lazyfitness.Areas.DbTable.tables
@using Lazyfitness.Models
@using System.Collections
@{
    Layout = "~/Views/Shared/_backStageMainStyle.cshtml";
    ViewBag.title = "论坛帖子管理";
}
@{
    postInfo[] allInfo = ViewBag.allInfo as postInfo[];
    ArrayList areaNameList = ViewBag.areaNameList as ArrayList;
    ArrayList userNameList = ViewBag.userNameList as ArrayList;
    int nowPage = Convert.ToInt32(ViewBag.nowPage);
    int postsumPage = Convert.ToInt32(ViewBag.postsumPage);

}
<!--/sidebar-->
<div class="main-wrap">
    <div class="crumb-wrap">
        <div class="crumb-list">
            <i class="icon-font">🔈</i><span>欢迎使用小懒人共享健身后台管理系统</span>
        </div>
    </div>
    <div class="result-wrap">
        <div class="result-title">
            <h1>可选操作</h1>
        </div>
        <div class="result-content">
            <div class="short-wrap">
                @Html.ActionLink("增加帖子", "forumInvitationAdd", "forumManagement")
                @Html.ActionLink("删除帖子", "forumInvitationDelete", "forumManagement")
                @Html.ActionLink("修改帖子信息", "forumInvitationSearch", "forumManagement")
            </div>
        </div>
    </div>
</div>
<div class="result-content">
    <table class="result-tab">
        <tr>
            <th>帖子所处分区名称</th>
            <th>帖子编号</th>
            <th>帖子名称</th>
            <th>发表用户</th>
            <th>发布时间</th>
            <th>浏览量</th>
            <th>是否置顶</th>
            <th>付费金额</th>
            <th>帖子状态</th>
            <th>内容</th>
            <th colspan="2">可选操作</th>
        </tr>
        @*值得注意的是要先判断userNameList areaNameList是否为空, 再判断他们长度是否为0是否. 否则报错*@
        @if (allInfo != null && areaNameList != null && userNameList != null && allInfo.Length != 0 && areaNameList.Count != 0 && userNameList.Count != 0)
        {
            int counter = 0;
            foreach (var item in allInfo)
            {
                <tr>
                    <td>
                        <div class="contentDiv">
                            <input class="no-border" type="text" value=@areaNameList[counter] readonly />
                        </div>
                    </td>
                    <td id="postId">
                        <div class="numberDiv">
                            @item.postId
                        </div>
                    </td>
                    <td>
                        <div class="numberDiv">
                            @item.postTitle
                        </div>
                    </td>
                    <td>
                        <div class="contentDiv">
                            @userNameList[counter]
                        </div>
                    </td>
                    <td>
                        <div class="contentDiv">
                            @item.postTime
                        </div>
                    </td>
                    <td>
                        <div class="numberDiv">
                            @item.pageView
                        </div>
                    </td>
                    @if (item.isPost == 0 || item.isPost == null)
                    {
                        <td>
                            <div class="numberDiv">
                                否
                            </div>
                        </td>
                    }
                    @if (item.isPost == 1)
                    {
                        <td>
                            <div class="numberDiv">
                                是
                            </div>
                        </td>
                    }
                    <td>
                        <div class="numberDiv">
                            @item.amount
                        </div>
                    </td>
                    @if (item.postStatus == 0 || item.postStatus == null)
                    {
                        <td>
                            <div class="numberDiv">
                                关闭
                            </div>
                        </td>
                    }
                    @if (item.postStatus == 1)
                    {
                        <td>
                            <div class="numberDiv">
                                正常
                            </div>
                        </td>
                    }
                    <td>
                        <div class="contentDiv">
                            @item.postContent
                        </div>
                    </td>
                    <td>
                        <form method="post" action="~/backStage/forumManagement/forumInvitationUpdate">
                            <input type="text" name="postId" id="postId" value="@item.postId" hidden="hidden" />
                            <input class="index-btn" type="submit" value="修改">
                        </form>
                    </td>
                    <td>
                        <form method="post" action="~/backStage/forumManagement/forumInvitationDelete">
                            <input type="text" name="postId" id="postId" value=@item.postId hidden="hidden" />
                            <input class="index-btn" type="submit" value="删除">
                        </form>
                    </td>
                </tr>
                counter++;
            }
        }
    </table>

    <div class="page-number">
        <ul>
            @{
                for (int i = 1; i <= postsumPage; i++)
                {

                    <li style="float:left">
                        <form method="post" action="~/backStage/forumManagement/forumInvitationIndex">
                            <input class="id" id="id" name="id" type="text" value=@i hidden="hidden" />
                            <input type="submit" class="btn-submit" value=@i />
                        </form>
                    </li>
                }
            }
            <li style="float:left;"><input class="text-summer" readonly="readonly" value="当前第 @nowPage 页, 共 @postsumPage 页" /></li>
        </ul>
    </div>
</div>
    </div>
</body>
</html>