
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Css/MainStyle.css?v=1810211947" rel="stylesheet" type="text/css" />
</head>
<body>
    <!--顶栏-->
    <div class="head">
        <!--底图-->
        @if ((bool)ViewData["IsHeadPic"] == true)
        {
        <div class="head-picture">
            <img src="@Url.Content("~/Resource/picture/head.png")" style="width:100%;height:auto" />
        </div>
        }
        <!--导航栏-->
        <div class="nav shadow">
            <div class="nav-menu">
                <div class="nav-submenu1 fl">
                    <ul>
                        <li class="nav-item"><a href="#">主页</a></li>
                        <li class="nav-item"><a href="#">资源</a></li>
                        <li class="nav-item"><a href="#">问答</a></li>
                        <li class="nav-item"><a href="#">论坛</a></li>
                    </ul>
                </div>
                <!--登录注册/头像-->
                @if (ViewBag.IsLogin == true)
                {
                    <div class="nav-headPic fr">
                        <img src=@ViewBag.headPicadr style="width:40px;height:40px" />
                    </div>
                }
                else
                {
                    <div class="head-reg-log fr">
                        <div>
                            @Html.ActionLink("登陆", "login", "userManagement", new { area = "account" }, new { })
                            /
                            @Html.ActionLink("注册", "registerUser", "userManagement", new { area = "account" }, new { })
                        </div>
                    </div>
                }

            </div>
        </div>
        @if ((bool)ViewData["IsSearch"] == true)
    {
        <div class="nav-search">
            @Html.TextBox("Keyword", "", new { @placeholder = "搜索" })
        </div>
}

    </div>
    <div class="content-body">
        @RenderBody()
    </div>
    <div id="footer">
        @RenderSection("footer",false)
    </div>
</body>
</html>
