
@{
    Layout = null;
    if(ViewBag.Title == null)
    {
        ViewBag.Title = "默认标题";
    }
    if (ViewData["IsHeadPic"] == null)
    {
        ViewData["IsHeadPic"] = true;
    }
    if (ViewBag.IsLogin == null)
    {
        ViewBag.IsLogin = false;
    }
    if (ViewData["IsSearch"] == null)
    {
        ViewBag.Title = true;
    }
    if (ViewBag.IsDefaultContent == null)
    {
        ViewBag.IsDefaultContent = true ;
    }
}
@using System.Web.Mvc;
@using Lazyfitness.Models;
@*
本页变量：
    ViewBag.Title 用于设置网页Title
    ViewData["IsHeadPic"] 用于设置要不要头图
    ViewBag.IsLogin 用于设置是否显示登录头像（测试用）
    ViewData["IsSearch"] 用于设置是否显示搜索栏
    ViewBag.IsDefaultContent 用于设置是否使用居中1000px的内容渲染Body
*@
@{ 
    HttpCookie loginIdCookie = Request.Cookies["loginId"];
    HttpCookie userIdCookie = Request.Cookies["userId"];
    HttpCookie certificationCookie = Request.Cookies.Get("certification");
    bool IsLogin = false;
    userInfo userData = null;
    if (certificateTools.IsCookieEmpty(loginIdCookie) == false ||
    certificateTools.IsCookieEmpty(userIdCookie) == false ||
    certificateTools.IsCookieEmpty(certificationCookie) == false)
    {
        IsLogin = false;
    }
    else
    {
        IsLogin = true;
        int userId = Int32.Parse(userIdCookie.Value);
        userData = Tools.GetUserInfo(userId);
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
    <link href="~/Css/MainStyle.css?v=1810211948" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/MainStyleJs.js"></script>

</head>
<body>
    <!--顶栏-->
    <div class="head">

        <!--底图-->
        @if ((bool)ViewData["IsHeadPic"] == true)
        {
        <div class="head-picture">
            <img src="@Url.Content("~/Resource/picture/head.png")" style="width:100%;min-width:1000px;height:auto" />
        </div>
        }
        <!--导航栏-->
        <div class="nav shadow">
            <!--个人栏-->
            <div id="user-info" class="user-info">
                <a href="@Url.Action("changePassword","passwordManager",new { area="account"})"><div class="info-item">修改密码</div></a>
                <a href="@Url.Action("Logout","userManagement",new { area="account"})"><div class="info-item">注销</div></a>
            </div>
            <div class="nav-menu">
                <div class="nav-submenu1 fl">
                    <ul>
                        <li class="nav-item"><a href="@Url.Action("Index","Home",new { area="" })">主页</a></li>
                        <li class="nav-item"><a href="@Url.Action("Article","Home",new { area="" })">资源</a></li>
                        <li class="nav-item"><a href="@Url.Action("Question","Home",new { area="" })">问答</a></li>
                        <li class="nav-item"><a href="@Url.Action("forum","Home",new { area="" })">论坛</a></li>
                    </ul>
                </div>
                <!--登录注册/头像-->

                @if (IsLogin == true)
                {
                    <div class="nav-headPic fr">
                        <img id="userHeadPic" src="@userData.userHeaderPic" style="width:40px;height:40px;border-radius:40px;" />
                        <a href="@Url.Action("PersonalData","Home",new { area=""})"><span>@userData.userName</span></a>
                    </div>
                }
                else
                {
                    <div class="head-reg-log fr">
                        <div>
                            @Html.ActionLink("登录", "login", "userManagement", new { area = "account" }, new { })
                            /
                            @Html.ActionLink("注册", "registerUser", "userManagement", new { area = "account" }, new { })
                        </div>
                    </div>
                }

            </div>
        </div>

    </div>
    @if(ViewBag.IsDefaultContent == true)
    {
        <div class="content-body">
            @RenderBody()
        </div>
    }
    else
    {
        <div>
            @RenderBody()
        </div>
    }

    <div id="footer">
        @RenderSection("footer",false)
    </div>
</body>
</html>
