@model Lazyfitness.Models.postInfo
@{
    ViewBag.Title = "论坛评论管理";
    Layout = "~/Views/Shared/_backStageMainStyle.cshtml";
}
<!--/sidebar-->
<div class="main-wrap">
    <div class="crumb-wrap">
        <div class="crumb-list">
            <i class="icon-font">🔈</i><span>欢迎使用小懒人共享健身后台管理系统</span>
        </div>
    </div>
    <div class="result-wrap">
        <div class="result-title">
            <h1>可选操作</h1>
        </div>

        <div class="result-content">
            <div class="short-wrap">
                @Html.ActionLink("增加评论", "addForumComment", "commentManagement")
                @Html.ActionLink("删除评论", "deleteForumComment", "commentManagement")
                @Html.ActionLink("评论管理", "Index", "commentManagement")
            </div>
        </div>
    </div>
    <div class="result-content">
        <form method="post" action="/backStage/commentManagement/sureReply" autocomplete="off">
            <table class="insert-tab">
                <tr><th></th><td class="show-title">删除论坛评论</td></tr>
                <tr>
                    <th>输入论坛帖子Id</th>
                    <td>
                        @Html.TextBoxFor(u=>u.postId, new { @class=""})
                        <div class="error-mes">
                            @Html.ValidationMessageFor(u=>u.postId)
                        </div>
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <td>
                        <input class="btn-submit show-border" type="submit" value="查询" />
                    </td>
                </tr>
            </table>
        </form>
    </div>

</div>    
