@using Lazyfitness.Models
@model Lazyfitness.Models.postReply
@{
    ViewBag.Title = "增加论坛评论";
    Layout = "~/Views/Shared/_backStageMainStyle.cshtml";
}
@{
    string ownerName = ViewBag.ownerName as string;
    string areaName = ViewBag.areaName as string;
    postInfo forumInfo = ViewBag.forumInfo as postInfo;
}
<script type="text/javascript" charset="utf-8" src="~/Content/utf8-net/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="~/Content/utf8-net/ueditor.all.min.js"></script>
<script type="text/javascript" charset="utf-8" src="~/Content/utf8-net/lang/zh-cn/zh-cn.js"></script>

<script type="text/javascript">
    var editor = new baidu.editor.ui.Editor({

        initialFrameWidth: 680,
        initialFrameHeight: 300,
        elementPathEnabled: false,
        wordCount: false,
    });
    editor.render('replyContent');
</script>

<!--/sidebar-->
<div class="main-wrap">
    <div class="crumb-wrap">
        <div class="crumb-list">
            <i class="icon-font">🔈</i><span>欢迎使用小懒人共享健身后台管理系统</span>
        </div>
    </div>
    <div class="result-wrap">
        <div class="result-title">
            <h1>可选操作</h1>
        </div>

        <div class="result-content">
            <div class="short-wrap">
                @Html.ActionLink("增加评论", "addForumComment", "commentManagement")
                @Html.ActionLink("删除评论", "deleteForumComment", "commentManagement")
                @Html.ActionLink("评论管理", "Index", "commentManagement")
            </div>
        </div>

        <div class="result-content">
            <table class="insert-tab">
                @using (Html.BeginForm("add", "commentManagement", FormMethod.Post))
                {
                    <tr>
                        <th>帖子名称</th>
                        <td>
                            <span class="input-content">
                                @forumInfo.postTitle
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            发布的用户名
                        </th>
                        <td>
                            <span class="input-content">
                                @ownerName
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            发布的时间
                        </th>
                        <td>
                            <span class="input-content">
                                @forumInfo.postTime
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th>帖子Id</th>
                        <td>
                            @Html.TextBoxFor(u=>u.postId, new { @Value = forumInfo.postId, @class="input-content txt-unchange", @readonly="readonly"})
                        </td>
                    </tr>
                    <tr>
                        <th>回帖人Id</th>
                        <td>
                            @Html.TextBoxFor(u=>u.userId, new { @class="input-content"})
                            <div class="error-mes">
                                @Html.ValidationMessageFor(u=>u.userId)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>回帖内容</th>
                        <td style="padding:10px"><textarea id="replyContent" name="replyContent"></textarea></td>
                    </tr>
                    <tr>
                        <th></th>
                        <td> <input id="submit" class="btn-submit show-border" type="submit" value="发布" /></td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>