<script src="~/Areas/jQuery/deleteReply.js"></script>
@{
    ViewBag.Title = "删除论坛评论";
    Layout = "~/Views/Shared/_backStageMainStyle.cshtml";
}
@{ 
    int nowPage = Convert.ToInt32(ViewBag.nowPage);
    int sumPage = Convert.ToInt32(ViewBag.sumPage);
    int rightPostId = Convert.ToInt32(ViewBag.rightPostId);
}
<!--/sidebar-->
<div class="main-wrap">
    <div class="crumb-wrap">
        <div class="crumb-list">
            <i class="icon-font">🔈</i><span>欢迎使用小懒人共享健身后台管理系统</span>
        </div>
    </div>
    <div class="result-wrap">
        <div class="result-title">
            <h1>可选操作</h1>
        </div>

        <div class="result-content">
            <div class="short-wrap">
                @Html.ActionLink("增加评论", "addForumComment", "commentManagement")
                @Html.ActionLink("删除评论", "deleteForumComment", "commentManagement")
                @Html.ActionLink("评论管理", "Index", "commentManagement")
            </div>
        </div>

        <div class="result-content">
            <table class="result-tab">
                <tr>
                    <th>id</th>
                    <th>论坛帖子Id</th>
                    <th>用户Id</th>
                    <th>回复时间</th>
                    <th>回复内容</th>
                    <th>可选操作</th>
                </tr>
                @{
                    if (ViewBag.replyList != null)
                    {
                        foreach (var item in ViewBag.replyList)
                        {
                            <tr>
                                <th>
                                    <div class="numberDiv">
                                        @item.id
                                    </div>
                                </th>
                                <th>
                                    <div class="numberDiv">
                                        @item.postId
                                    </div>
                                </th>
                                <th>@item.userId</th>
                                <th>@item.replyTime</th>
                                <th>
                                    <div class="contentDiv">
                                        @item.replyContent
                                    </div>
                                </th>
                                <th>
                                    <button class="index-btn delete-data deleteReply" type="button" value="@item.id">删除</button>
                                </th>
                            </tr>
                        }
                    }
                }
            </table>

        </div>
    </div>

    <div class="page-number">
        <ul>
            @{
                for (int i = 1; i <= sumPage; i++)
                {

                    <li style="float:left">
                        <form method="post" action="~/backStage/commentManagement/sureReply">
                            <input class="id" id="id" name="id" type="text" value=@i hidden="hidden" />
                            <input class="postId" name="postId" type="hidden" value="@rightPostId"/>
                            <input type="submit" class="btn-submit" value=@i />
                        </form>
                    </li>
                }
            }
            <li style="float:left;"><input class="text-summer" readonly="readonly" value="当前第 @nowPage 页, 共 @sumPage 页" /></li>
        </ul>
    </div>

</div>
