@model Lazyfitness.Areas.DbTable.tables
@{
    ViewData["IsSearch"] = true;
    ViewData["IsHeadPic"] = true;
    Layout = "~/Views/Shared/_MainStyle.cshtml";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Areas/jQuery/jQueryEmailCode/checkCodePassword.js"></script>
<script src="~/Areas/jQuery/jQueryEmailCode/sendEmailCodePassword.js"></script>
<link href="~/Css/Input.css" rel="stylesheet" type="text/css" />

<div class="login-input">
    <form action="~/account/passwordManager/VerifyInfo" method="post" autocomplete="off">
        <div class="login-input-content">
            <p>找回密码</p>
            <div class="input-item">
                <div class="input-text-border">
                    @Html.TextBoxFor(u => u.Security.loginId, new { @class = "input-text", @placeholder = "      登录名" })
                </div>
                <div class="message-style">
                    @Html.ValidationMessageFor(u => u.Info.userName)
                </div>
            </div>
            <div class="input-item">
                <div class="input-text-border">
                    @Html.TextBoxFor(u => u.Info.userEmail, new { @class = "input-text emailAddress", @placeholder = "       邮箱" })
                </div>
                <div class="message-style">
                    @Html.ValidationMessageFor(u => u.Info.userEmail)
                </div>
            </div>

            <div class="input-item">
                <div class="input-text-border">
                    @Html.TextBoxFor(u => u.Security.userPwd, new { @class = "input-text", @placeholder = "      新密码", @type = "password" })
                </div>
                <div class="message-style">
                    @Html.ValidationMessageFor(u => u.Security.userPwd)
                </div>
            </div>


            <div class="input-item">
                <div style="text-align:center">
                    <input class="input-code" type="text" name="code" id="code" />
                    <input class="btn-code getEmailCode"  type="button" value="获取验证码">
                </div>
            </div>


            <input type="submit" id="postData" onclick="return checkCode()" name="postData" class="input-btn" value="完成" />
        </div>
    </form>
</div>
