@model Lazyfitness.Models.resourceInfo
@using Lazyfitness.Models
@{
    Layout = "~/Views/Shared/_backStageMainStyle.cshtml";
    ViewBag.Title = "增加文章";
}
@{ 
    resourceArea[] areaList = ViewBag.areaList as resourceArea[];
}
<script src="~/Areas/jQuery/userManagement.js"></script>


<link href="~/Css/Editor.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" charset="utf-8" src="~/Content/utf8-net/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="~/Content/utf8-net/ueditor.all.min.js"></script>
<script type="text/javascript" charset="utf-8" src="~/Content/utf8-net/lang/zh-cn/zh-cn.js"></script>

<script type="text/javascript">
    var editor = new baidu.editor.ui.Editor({

        initialFrameWidth: 680,
        initialFrameHeight: 300,
        elementPathEnabled: false,
        wordCount: false,
    });
    editor.render('resourceContent');
</script>

<!--/sidebar-->
<div class="main-wrap">
    <div class="crumb-wrap">
        <div class="crumb-list">
            <i class="icon-font">🔈</i><span>欢迎使用小懒人共享健身后台管理系统</span>
        </div>
    </div>
    <div class="result-wrap">
        <div class="result-title">
            <h1>可选操作</h1>
        </div>
        <div class="result-content">
            <div class="short-wrap">
                @Html.ActionLink("资源分区管理", "areaManagement", "articleManagement")
                @Html.ActionLink("增加文章", "addArticle", "articleManagement")
                @Html.ActionLink("查询文章", "findArticle", "articleManagement")
            </div>
        </div>
    </div>
</div>

<div class="result-content">
    <form method="post" action="~/backStage/articleManagement/addArticle" autocomplete="off">
        <table class="insert-tab">
            <tbody>
                <tr><th></th><td class="show-title">增加文章</td></tr>
                <tr>
                    <th>
                        选择你文章所属的分区
                    </th>
                    <td>
                        <select name="areaId">
                            @if (areaList != null)
                            {
                                foreach (var item in areaList)
                                {
                                    <option class="dropdown-list" value=@item.areaId id="areaId" name="areaId">@item.areaName</option>

                                }
                            }
                        </select>
                    </td>
                </tr>

                <tr>
                    <th>
                        文章名
                    </th>
                    <td>
                        @*<input class="input-content" type="text" id="resourceName" name="resourceName" />*@
                        @Html.TextBoxFor(u=>u.resourceName, new { @class="input-content"})
                        <div class="error-mes">
                            @Html.ValidationMessageFor(u => u.resourceName)
                        </div>
                    </td>
                </tr>

                <tr>
                    <th>
                        发表的用户Id
                    </th>
                    <td>
                        @Html.TextBoxFor(u => u.userId, new { @class = "input-content" })
                        <div class="error-mes">
                            @Html.ValidationMessageFor(u => u.userId)
                        </div>
                    </td>
                </tr>

                <tr>
                    <th>
                        是否置顶
                    </th>
                    <td>
                        @Html.RadioButtonFor(u => u.isTop, 0, new { @class = "radio-dis" }) <label>否</label>
                        @Html.RadioButtonFor(u => u.isTop, 1, new { @class = "radio-dis" }) <label>是</label>
                        <div class="error-mes">
                            @Html.ValidationMessageFor(u => u.isTop)
                        </div>
                    </td>
                </tr>

                <tr>
                    <th>
                        请输入文章内容
                    </th>
                    <td style="padding:10px">
                        <textarea id="resourceContent" name="resourceContent"></textarea>
                    </td>
                </tr>

                <tr>
                    <th></th>
                    <td>
                        <input class="btn-submit show-border" type="submit" value="增加" />
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>