@using Lazyfitness.Models
@{
    Layout = "~/Views/Shared/_backStageMainStyle.cshtml";
    ViewBag.Title = "资源分区管理";
}
@{
    resourceArea[] allInfo = ViewBag.allInfo as resourceArea[];
    int nowPage = Convert.ToInt32(ViewBag.nowPage);
    int sumPage = Convert.ToInt32(ViewBag.sumPage);
}
<script src="~/Areas/jQuery/userManagement.js"></script>
<!--/sidebar-->
<div class="main-wrap">
    <div class="crumb-wrap">
        <div class="crumb-list">
            <i class="icon-font">🔈</i><span>欢迎使用小懒人共享健身后台管理系统</span>
        </div>
    </div>
    <div class="result-wrap">
        <div class="result-title">
            <h1>可选操作</h1>
        </div>
        <div class="result-content">
            <div class="short-wrap">
                @Html.ActionLink("增加分区", "addArea", "articleManagement")
                @Html.ActionLink("删除分区", "deleteArea", "articleManagement")
                @Html.ActionLink("查询分区", "findArea", "articleManagement")
                @Html.ActionLink("返回上一级", "index", "articleManagement")
            </div>
        </div>
    </div>
    <div class="result-content">
        <table class="result-tab center">
            <tr><th></th><td colspan="2">已有分区</td></tr>
            <tr>
                <td>分区编号</td>
                <td>分区名</td>
                <td>分区简介</td>
            </tr>
            @{
                if (allInfo != null && allInfo.Length != 0)
                {
                    foreach (var item in allInfo)
                    {
                        <tr>
                            <td>@item.areaId</td>
                            <td>@item.areaName</td>
                            <td>@item.areaBrief</td>
                        </tr>
                    }
                }
            }
        </table>
    </div>

    <div class="page-number">
        <ul>
            @{
                for (int i = 1; i <= sumPage; i++)
                {

                    <li style="float:left">
                        <form method="post" action="~/backStage/articleManagement/areaManagement">
                            <input class="id" id="id" name="id" type="text" value=@i hidden="hidden" />
                            <input type="submit" class="btn-submit" value=@i />
                        </form>
                    </li>
                }
            }
            <li style="float:left;"><input class="text-summer" readonly="readonly" value="当前第 @nowPage 页, 共 @sumPage 页" /></li>
        </ul>
    </div>

</div>