
@{
    ViewBag.Title = "查询结果";
    Layout = "~/Views/Shared/_backStageMainStyle.cshtml";
}

<!--/sidebar-->
<div class="main-wrap">
    <div class="crumb-wrap">
        <div class="crumb-list">
            <i class="icon-font">🔈</i><span>欢迎使用小懒人共享健身后台管理系统</span>
        </div>
    </div>
    <div class="result-wrap">
        <div class="result-title">
            <h1>可选操作</h1>
        </div>
        <div class="result-content">
            <div class="short-wrap">
                @Html.ActionLink("资源分区管理", "areaManagement", "articleManagement")
                @Html.ActionLink("增加文章", "addArticle", "articleManagement")
                @Html.ActionLink("查询文章", "findArticle", "articleManagement")
            </div>
        </div>
    </div>
</div>



<div class="result-content">
    <table class="result-tab">
        <tr>
            <th>文章所处分区名称</th>
            <th>文章编号</th>
            <th>文章名称</th>
            <th>发表用户</th>
            <th>发布时间</th>
            <th>浏览量</th>
            <th>是否置顶</th>
            <th>内容</th>
            <th colspan="2">可选操作</th>
        </tr>
        @if (ViewBag.allInfo != null)
        {
            foreach (var item in @ViewBag.allInfo)
            {
                int counter = 0;
                <tr>
                    <td><input class="no-border" type="text" value=@ViewBag.areaNameList[counter] readonly /> </td>
                    <td id="resourceId">@item.resourceId</td>
                    <td>@item.resourceName</td>
                    <td>@ViewBag.userNameList[counter]</td>
                    <td>@item.resourceTime</td>
                    <td>@item.pageView</td>
                    @if (@item.isTop == 0)
                    {
                        <th>否</th>
                    }
                    @if (item.isTop != 0)
                    {
                        <th>是</th>
                    }
                    <td>
                        <div class="contentDiv">
                            @item.resourceContent
                        </div>
                    </td>
                    <td>
                        <form method="post" action="~/backStage/articleManagement/changeArticle">
                            <input type="text" name="resourceId" id="resourceId" value="@item.resourceId" hidden="hidden" />
                            <input class="index-btn" type="submit" value="修改">
                        </form>
                    </td>
                    <td><button class="index-btn delete-data deleteArticle" type="button" value="@item.resourceId">删除</button></td>
                </tr>
            }
        }
    </table>

    <div class="page-number">
        <ul>
            @{
                for (int i = 1; i <= ViewBag.sumPage; i++)
                {

                    <li style="float:left">
                        <form method="post" action="~/backStage/articleManagement/findArticleList">
                            <input class="id" id="id" name="id" type="text" value=@i hidden="hidden" />
                            <input class="resourceName" id="resourceName" name="resourceName" type="text" value=@ViewBag.resourceName hidden="hidden" />
                            <input type="submit" class="btn-submit" value=@i />
                        </form>
                    </li>
                }
            }
            <li style="float:left;"><input class="text-summer" readonly="readonly" value="当前第 @ViewBag.nowPage 页, 共 @ViewBag.sumPage 页" /></li>
        </ul>
    </div>
</div>

