@using Lazyfitness.Models
@using System.Collections
@{
    Layout = "~/Views/Shared/_backStageMainStyle.cshtml";
    ViewBag.Title = "小懒人后台管理系统";
}
@{

    resourceInfo[] allInfo = ViewBag.allInfo as resourceInfo[];
    ArrayList areaNameList = ViewBag.areaNameList as ArrayList;
    ArrayList userNameList = ViewBag.userNameList as ArrayList;
    int nowPage = Convert.ToInt32(ViewBag.nowPage);
    int sumPage = Convert.ToInt32(ViewBag.sumPage);
}
<script src="~/Areas/jQuery/articleManagement.js"></script>

<!--/sidebar-->
<div class="main-wrap">
    <div class="crumb-wrap">
        <div class="crumb-list">
            <i class="icon-font">🔈</i><span>欢迎使用小懒人共享健身后台管理系统</span>
        </div>
    </div>
    <div class="result-wrap">
        <div class="result-title">
            <h1>可选操作</h1>
        </div>
        <div class="result-content">
            <div class="short-wrap">
                @Html.ActionLink("资源分区管理", "areaManagement", "articleManagement")
                @Html.ActionLink("增加文章", "addArticle", "articleManagement")
                @Html.ActionLink("查询文章", "findArticle", "articleManagement")
            </div>
        </div>
    </div>
</div>



<div class="result-content">
    <table class="result-tab">
        <tr>
            <th>文章所处分区名称</th>
            <th>文章编号</th>
            <th>文章名称</th>
            <th>发表用户(用户ID)</th>
            <th>发布时间</th>
            <th>浏览量</th>
            <th>是否置顶</th>
            <th>内容</th>
            <th colspan="2">可选操作</th>
        </tr>
        @*值得注意的是要先判断userNameList areaNameList是否为空, 再判断他们长度是否为0是否. 否则报错*@
        @if (allInfo != null && areaNameList != null && userNameList != null && allInfo.Length != 0 && areaNameList.Count != 0 && userNameList.Count != 0 )
        {
            int counter = 0;
            foreach (var item in allInfo)
            {
                <tr>
                    <td>
                        <div class="contentDiv">
                            <input class="no-border" type="text" value=@areaNameList[counter] readonly />
                        </div>
                    </td>
                    <td id="resourceId">
                        <div class="numberDiv">
                            @item.resourceId
                        </div>
                    </td>
                    <td>
                        <div class="contentDiv">
                            @item.resourceName
                        </div>
                    </td>
                    <td>
                        <div class="contentDiv">
                            <span>@userNameList[counter]</span><span>(@item.userId)</span>
                        </div>
                    </td>
                    <td>
                        <div class="contentDiv">
                            @item.resourceTime
                        </div>
                    </td>
                    <td>
                        <div class="numberDiv">
                            @item.pageView
                        </div>
                    </td>
                    @if (item.isTop == 0 || item.isTop == null)
                    {                        
                        <td>
                            <div class="numberDiv"> 
                                否
                            </div>
                        </td>
                    }
                    @if (item.isTop == 1)
                    {
                        <td>
                            <div class="numberDiv">
                                是
                            </div>
                        </td>
                    }
                    <td>
                        <div class="contentDiv">
                            @item.resourceContent
                        </div>
                    </td>
                    <td>
                        <div class="numberDiv">
                            <form method="post" action="~/backStage/articleManagement/changeArticle">
                                <input type="text" name="resourceId" id="resourceId" value="@item.resourceId" hidden="hidden" />
                                <input class="index-btn" type="submit" value="修改">
                            </form>
                        </div>                       
                    </td>
                    <td>
                        <div class="numberDiv">
                            <button class="index-btn delete-data deleteArticle" type="button" value="@item.resourceId">删除</button>   
                        </div>
                    </td>
                </tr>
                counter++;
            }
        }
    </table>

    <div class="page-number">
        <ul>
            <li style="float:left">
                <form method="post" action="~/backStage/articleManagement/Index" style="float:left" autocomplete="off">
                    @{ 
                        int leftNumber = nowPage - 1;
                    }
                    <span><button class="left_rightIcon" type="submit" name="id" value="@leftNumber"><strong><</strong></button></span>
                </form>
                <form method="post" action="~/backStage/articleManagement/Index" style="float:left" autocomplete="off">
                    <input required name="id" style="width:60px" type="number" />
                    <button class="skip" type="submit">跳转</button>
                </form>
                <form method="post" action="~/backStage/articleManagement/Index" style="float:left" autocomplete="off">
                    @{ 
                        int rightNumber = nowPage + 1;
                    }
                    <span><button class="left_rightIcon" type="submit" name="id" value="@rightNumber"><strong>></strong></button></span>
                </form>
            </li>
            <li style="float:left">
                <input class="text-summer" readonly="readonly" value="当前第 @nowPage 页, 共 @sumPage 页" />
            </li>
        </ul>
    </div>
</div>
