
@{
    ViewData["IsSearch"] = false;
    ViewData["IsHeadPic"] = true;
    ViewBag.IsDefaultContent = false;
    Layout = "~/Views/Shared/_MainStyle.cshtml";
    ViewBag.Title = "文章分区";
}
@*本页需要的变量：
    ViewBag.AreasName 分区的名字 string[]
    ViewBag.AreasUrl 分区的Url string[]
    ViewBag.PartName 本分区名字 string
    ViewBag.PartId 本分区的ID int
    ViewBag.PageNum 本分区的当前页数 int
    ViewBag.ItemsName 分区该页帖子的发帖人名 string[]
    ViewBag.ItemsTitle 分区该页帖子的标题 string[]
    ViewBag.ItemsUrl 分区该页帖子帖子链接 string[]
    ViewBag.ItemsHeadAdr 分区该页帖子头像地址 string[]
    ViewBag.ItemsIntroduction 分区该页帖子简介 string[]
    ViewBag.IsAdmin 决定是否出现添加文章按钮 bool
*@
@using Lazyfitness.Models;
<link href="~/Css/Article.css?v=2018-1022-0017" rel="stylesheet" type="text/css" />
<link href="~/Css/ArticlePart.css?v=2018-1022-0017" rel="stylesheet" type="text/css" />


@{ 
    HttpCookie loginIdCookie = HttpContext.Current.Request.Cookies.Get("loginId");
    HttpCookie userIdCookie = HttpContext.Current.Request.Cookies.Get("userId");
    HttpCookie certificationCookie = HttpContext.Current.Request.Cookies.Get("certification");
    bool IsLoginRight = certificateTools.IsUserCookieCorrect(userIdCookie, loginIdCookie, certificationCookie);
    bool IsAdmin = false;
    if (IsLoginRight == true && certificateTools.IsAdmin(userIdCookie.Value) == true)
    {
        IsAdmin = true;
    }

}
@*主要内容*@
<div class="main">
    <div class="main-content">
        <div style="width:100%">
            <h2 style="font-family:YouYuan;position:relative;padding-left:120px;width:200px;">@ViewBag.PartName</h2>
            @{ 
                ViewBag.Title = ViewBag.PartName;
            }
            @*只有管理员才可以显示这个按钮*@
            @if (IsAdmin == true)
            {
                <a href="@Url.Action("ArticleEditor","Home",new { partId=ViewBag.PartId})">
                    <div class="article-editor">
                        添加文章
                    </div>
                </a>
            }
            <div class="article-list">
                @{
                    resourceInfo[] ArticleInfo = ViewBag.ArticleInfo as resourceInfo[];
                    string[] names = ViewBag.ItemsName as string[];
                    string[] headAdrs = ViewBag.ItemsHeadAdr as string[];
                    string[] introductions = ViewBag.ItemsIntroduction as string[];
                    string[] ArticleUrl = new string[ArticleInfo.Length];
                    //设置Url
                    for(int count = 0; count < ArticleInfo.Length; count++)
                    {
                        ArticleUrl[count] = Url.Action("ArticleDetail", "Home", new { num = ArticleInfo[count].resourceId });
                    }
                }
                @for (int count = 0; count < ArticleInfo.Length; count++)
                {
                    <div class="article-list-item">
                        <div class="item-con">
                            <div class="item-title">
                                <h3><a href=@ArticleUrl[count]>@ArticleInfo[count].resourceName</a></h3>
                            </div>
                            <div class="item-introduction">
                                <p>@introductions[count]</p>
                            </div>
                            <div class="item-user">
                                <div class="user-pic fl">
                                    <img src=@headAdrs[count] />
                                </div>
                                <div class="user-name fl">
                                    <p>@names[count]</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @*
            <div class="article-list-item">
                <div class="item-con">
                    <div class="item-title">
                        <h3><a href="#">这是标题</a></h3>
                    </div>
                    <div class="item-introduction">
                        <p>这是内容简介</p>
                    </div>
                    <div class="item-user">
                        <div class="user-pic fl">
                            <img src="~/Resource/picture/DefaultHeadPic.jpg" />
                        </div>
                        <div class="user-name fl">
                            <p>这是名字</p>
                        </div>
                    </div>
                </div>
            </div>*@
            </div>

        </div>
        <div class="sidebar" id="sidebar">

            <ul>
                <li><a href="@Url.Action("Article","Home")">首页</a></li>
                @{
                    string[] AreasName = ViewBag.AreasName as string[];
                    string[] AreasUrl = ViewBag.AreasUrl as string[];
                }
                @for (int count = 0; count < AreasName.Length; count++)
                {
                    <li><a href="@AreasUrl[count]">@AreasName[count]</a></li>
                }
            </ul>
        </div>
    </div>
    <div class="page-list">
        <ul>
            @{ 
                int preNum = ViewBag.PageNum - 1;
                int nextNum = ViewBag.PageNum + 1;
                if (preNum < 1)
                {
                    preNum = 1;
                }
            }
            <li><a href=@Url.Action("ArticlePart","Home",new { pageNum = preNum, partId = ViewBag.PartID})><div class="page-list-item" style="width:50px">上一页</div></a></li>
            <li><a href=@Url.Action("ArticlePart","Home",new { pageNum = ViewBag.PageNum, partId = ViewBag.PartID})><div class="page-list-item">@ViewBag.PageNum</div></a></li>
            <li><a href=@Url.Action("ArticlePart","Home",new { pageNum = nextNum, partId = ViewBag.PartID})><div class="page-list-item" style="width:50px">下一页</div></a></li>
            @using (Html.BeginForm("ArticlePart", "Home", FormMethod.Get))
            {
                <li>
                    <div class="page-list-item">
                        <input type="text" id="GoPageNum" name="GoPageNum" class="input-pageNum" autocomplete="off"/>
                    </div>
                    <div class="page-list-item">
                        <input type="submit" class="input-pageNum-submit" value="跳转" />
                    </div>
                </li>

            }
        </ul>
    </div>
</div>
<div class="go-top unvis" id="top-btn">
    <a href="#"><img src="~/Resource/picture/gotoTop.png" /></a>
</div>
