@{
    ViewData["IsSearch"] = false;
    ViewData["IsHeadPic"] = false;
    ViewBag.IsDefaultContent = false;
    ViewBag.Title = "文章区";
    Layout = "~/Views/Shared/_MainStyle.cshtml";

    string[] urls = ViewBag.Scrollpic as string[];
}
@Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
<link href="~/Css/Article.css?v=2018-1022-0017" rel="stylesheet" type="text/css" />
<script src="~/Scripts/ArticleJs.js?v=2021-1021-2305"></script>
@*文章区*@
@*
本页需要的变量：
    ViewBag.Scrollpic 轮播图的url string[]
    ViewBag.NoticeName 轮播图的名字 string[]
    ViewBag.NoticeUrl 轮播图的Url string[]
    ViewBag.AreasName 分区的名字 string[]
    ViewBag.AreasUrl 分区的Url string[]
*@

<div class="body-content">
    <div class="scroll-notic">
        <!--滚动栏-->
        <div class="scroll-box">
            <div class="panel" id="panel" onmousemove="cancelScroll()" onmouseout="startScroll()">
                <div class="picture" id="picture">
                    @for (int count = 1; count <= 3; count++)
                    {
                        if (count == 1)
                        {
                            <img class="vis" src=@urls[count-1] />
                        }
                        else
                        {
                            <img class="unvis" src=@urls[count-1] />
                        }


                    }
                </div>
                <ul class="dot" id="dot">
                    <li><img onclick="clickDot(1)" src="@Url.Content("~/Resource/picture/square1.png")"></li>
                    <li><img onclick="clickDot(2)" src="@Url.Content("~/Resource/picture/square0.png")"></li>
                    <li><img onclick="clickDot(3)" src="@Url.Content("~/Resource/picture/square0.png")"></li>
                </ul>
            </div>
            <div class="scroll-title">
                @{
                    string[] title = ViewBag.NoticeTitle as string[];
                }
                @for (int count = 0; count < 3; count++)
                {
                    if (count == 0)
                    {
                        <div class="scroll-title-item vis" id="scroll-title-@count"><p>@title[count]</p></div>
                    }
                    else
                    {
                        <div class="scroll-title-item unvis" id="scroll-title-@count"><p>@title[count]</p></div>
                    }
                }
            </div>
        </div>
    </div>
    @*主要内容*@
    <div class="main">
        <div class="main-content">
            <div style="width:100%">
                <h2 style="font-family:YouYuan;position:relative;padding-left:120px;width:200px;">随便看看</h2>
                <div class="article-list">
                    @*
                    <div class="article-list-item">
                        <div class="item-con">
                            <div class="item-title">
                                <h3>这是标题</h3>
                            </div>
                            <div class="item-introduction">
                                <p>这是内容简介</p>
                            </div>
                            <div class="item-user">
                                <div class="user-pic fl">
                                    <img src="~/Resource/picture/DefaultHeadPic.jpg" />
                                </div>
                                <div class="user-name fl">
                                    <p>这是名字</p>
                                </div>
                            </div>
                        </div>
                    </div>*@
                </div>

            </div>
            <div class="sidebar" id="sidebar">

                <ul>
                    @{ 
                        string[] AreasName = ViewBag.AreasName as string[];
                        string[] AreasUrl = ViewBag.AreasUrl as string[];
                    }
                    @for(int count = 0; count < AreasName.Length; count++)
                    {
                        <li><a href="@AreasUrl[count]">@AreasName[count]</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="go-top unvis" id="top-btn">
        <a href="#"><img src="~/Resource/picture/gotoTop.png"/></a>
    </div>
</div>