@{
    ViewData["IsSearch"] = false;
    ViewData["IsHeadPic"] = true;
    ViewBag.IsDefaultContent = true;
    ViewBag.Title = "问答帖子";
    Layout = "~/Views/Shared/_MainStyle.cshtml";
}

@*
    本页需要的变量：
    ViewBag.QuestionId 该问题的ID int
    ViewBag.IsSolved 该问题是否解决了 bool
    ViewBag.Money 该问题的悬赏金额 int
    ViewBag.QuesInfo 问答的信息 quesAnswInfo
    ViewBag.QuesUserInfo 提出该问题的人信息 userInfo
    ViewBag.ReplyId 回复帖子的id int[]
    ViewBag.ReplyName 回复帖子的姓名 string[]
    ViewBag.ReplayUserPic 回复帖子人的头像地址 string[]
    ViewBag.ReplyTime 回复帖子的时间 string[]
    ViewBag.ReplyContent 回复帖子的内容 string[]
    ViewBag.ReplyIsAgree 回复帖子是否被采纳 int[]
*@

@using Lazyfitness.Models;
<link href="~/Css/QuestionDetail.css" rel="stylesheet" type="text/css" />
@Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
<script src="~/Scripts/QuestionDetail.js"></script>
<script type="text/javascript" charset="utf-8" src="~/Content/utf8-net/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="~/Content/utf8-net/ueditor.all.min.js"></script>
<script type="text/javascript" charset="utf-8" src="~/Content/utf8-net/lang/zh-cn/zh-cn.js"></script>
<script src="~/Scripts/adoptAnswer.js"></script>

<script type="text/javascript">
    var editor = new baidu.editor.ui.Editor({

        initialFrameWidth: 800,
        initialFrameHeight: 300,
        elementPathEnabled: false,
        wordCount: false,
        toolbars: [
            ['source', 'simpleupload']
        ]
    });
    editor.render('reply');
</script>
@{
    quesAnswInfo QuestionInfo = ViewBag.QuesInfo as quesAnswInfo;
    userInfo QuesUserInfo = ViewBag.QuesUserInfo as userInfo;
    HttpCookie loginIdCookie = HttpContext.Current.Request.Cookies.Get("loginId");
    HttpCookie userIdCookie = HttpContext.Current.Request.Cookies.Get("userId");
    HttpCookie certificationCookie = HttpContext.Current.Request.Cookies.Get("certification");
    bool IsLoginRight = certificateTools.IsUserCookieCorrect(userIdCookie, loginIdCookie, certificationCookie);
}
<div class="question-head">
    @if (QuestionInfo.quesAnswStatus == 1)
    {
        <span class="head-sign">已解决</span>
    }
    else
    {
        <span class="head-sign">未解决</span>
    }
    <h2 class="head-title">@QuestionInfo.quesAnswTitle</h2>
    <div class="question-content">
        @Html.Raw(QuestionInfo.quesAnswContent)
    </div>
    <div class="head-userInfo">
        <img class="head-headPic" src="@QuesUserInfo.userHeaderPic" />
        <span class="head-name">@QuesUserInfo.userName</span>
        <span class="head-intro">@QuesUserInfo.userIntroduce</span>
        @if (QuestionInfo.amount > 0)
        {
            <div class="head-money">
                悬赏：
            </div>
            <div class="head-money-num">@QuestionInfo.amount</div>
        }
        <span class="time">@QuestionInfo.quesAnswTime.ToString()</span>
    </div>
</div>
@{
    quesAnswReply[] replys = ViewBag.QuestionReplys as quesAnswReply[];
    userInfo[] replyerInfo = ViewBag.ReplyerInfo as userInfo[];
    /*
    string[] replyName = ViewBag.ReplyName as string[];
    int[] replyId = ViewBag.ReplyId as int[];
    string[] replyUserPic = ViewBag.ReplyUserPic as string[];
    string[] replyTime = ViewBag.ReplyTime as string[];
    string[] replyContent = ViewBag.ReplyContent as string[];
    int[] replyIsAgree = ViewBag.ReplyIsAgree;*/
}
@if (replys.Length > 0)
{
    <div class="question-reply">

        @for (int count = 0; count < replys.Length; count++)
        {
            int num = count + 1;
            <div class="reply-item">
                <a id="@num" href="@Url.Action("QuestionDetail","Home", new { num =QuestionInfo.quesAnswId})#@num" class="floor">@num#</a>
                <div class="question-content">
                    @Html.Raw(replys[count].replyContent)
                </div>
                @if (QuestionInfo.quesAnswStatus == 1 && replys[count].isAgree == 1)
                {
                    <span class="head-sign">最佳答案</span>
                }
                    <div class="head-userInfo">
                        <img class="head-headPic" src="@replyerInfo[count].userHeaderPic" />
                        <span class="head-name">@replyerInfo[count].userName</span>
                        <span class="head-intro">@replyerInfo[count].userIntroduce</span>
                        <input class="getQuesAnswId" type="hidden" name="quesAnswId" value=@replys[count].quesAnswId />
                        <input class="getUserId" type="hidden" name="userId" value=@replys[count].userId />
                        @*<input class="getUserId" type="hidden" name="userId" value=@QuestionInfo.userId />*@
                        @*当答案未采纳以及是正确登录以及提问人和登录userid相等的时候显示该按钮*@
                        @if (QuestionInfo.quesAnswStatus == 0 && IsLoginRight == true && userIdCookie.Value == QuestionInfo.userId.ToString()) 
                        {
                            <button class="setAnswer" value=@replys[count].userId>采纳该答案</button>
                        }
                        <span class="time">@replys[count].replyTime</span>
                    </div>
            </div>
        }
        @*
            <div class="reply-item">
                <a id="1" href="@Url.Action("QuestionDetail","Home")#1" class="floor">1#</a>
                <div class="question-content">
                    <p>这里是放内容的地方</p>
                </div>
                <div class="head-userInfo">
                    <img class="head-headPic" src="~/Resource/picture/DefaultHeadPic.jpg" />
                    <span class="head-name">这是名字</span>
                    <span class="head-intro">这是简介，一个比名字长的简介</span>
                    <div class="setAnswer">
                        采纳该答案
                    </div>
                </div>
            </div>*@
    </div>
}

@if(IsLoginRight == true)
{
    <div class="reply">
        @using (Html.BeginForm("QuestionReply", "Api", FormMethod.Post))
        {
            <input type="hidden" id="userId" name="userId" value="@userIdCookie.Value" />
            <textarea id="reply" name="reply"></textarea>
            <input type="hidden" id="quesId" name="quesId" value="@ViewBag.QuestionId" />
            <input type="submit" id="submit" value="回复" />
        }
    </div>
}
