@model Lazyfitness.Models.serverShowInfo
@{
    Layout = "~/Views/Shared/_backStageMainStyle.cshtml";
    ViewBag.Title = "增加展示";
}

<!--/sidebar-->
<div class="main-wrap">
    <div class="crumb-wrap">
        <div class="crumb-list">
            <i class="icon-font">🔈</i><span>欢迎使用小懒人共享健身后台管理系统</span>
        </div>
    </div>
    <div class="result-wrap">
        <div class="result-title">
            <h1>可选操作</h1>
        </div>
        <div class="result-content">
            <div class="short-wrap">
                @Html.ActionLink("增加展示", "Add", "displayManagement")
                @Html.ActionLink("删除展示", "displaySearch", "displayManagement")
                @Html.ActionLink("修改展示内容", "displaySearch", "displayManagement")
            </div>
        </div>
    </div>
</div>
<div class="result-content">
    @if (ViewBag.flag == 0)
    {
        <form action="~/backStage/displayManagement/SaveImage" method="post" enctype="multipart/form-data">

            <table class="insert-tab">
                <tr><th></th><td class="show-title">增加展示</td></tr>
                <tr>
                    <th>
                        类型
                    </th>
                    @if (@ViewBag.flag == 0)
                    {
                        <td>轮播图</td>
                    }
                    @if (@ViewBag.flag == 1)
                    {
                        <td>公告</td>
                    }
                </tr>
                <tr>
                    <td>图片选择：</td>
                    <td>
                        <input id="image" name="image" type="file" />
                        <input type="submit" value="保存" />
                    </td>
                </tr>
            </table>
        </form>
        <form action="~/backStage/displayManagement/displayAddGo" method="post">
            <input type="text" id="flag" name="flag" value="@ViewBag.flag" hidden="hidden" />
            <table class="insert-tab">
                <tr>
                    <th>
                        图片
                    </th>
                    <td>
                        <img src="@ViewBag.pictureAdr"  />
                        <input id="pictureAdr" name="pictureAdr" value="@ViewBag.pictureAdr" class="input-content" type="text" hidden="hidden" />
                    </td>
                </tr>
                <tr>
                    <th>
                        展示分区
                    </th>
                    <td>
                        <select name="areaId">
                            <option class="dropdown-list" value="0">首页</option>
                            <option class="dropdown-list" value="1">资源</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>
                        标题
                    </th>
                    <td>
                        @Html.TextBoxFor(u => u.title, new { @type = "text", @class = "input-content", @id = "title", @name = "title" })
                        <div class="error-mes">@Html.ValidationMessageFor(u => u.title)</div>
                    </td>
                </tr>
                <tr>
                    <th>
                        链接
                    </th>
                    <td>
                        @Html.TextBoxFor(u => u.url, new { @type = "text", @class = "input-content", @id = "url", @name = "url" })
                        <div class="error-mes">@Html.ValidationMessageFor(u => u.url)</div>
                    </td>
                </tr>
                <tr>
                    <th>
                        状态
                    </th>
                    <td>
                        <select name="Infostatus">
                            <option class="dropdown-list" value="0">禁止</option>
                            <option class="dropdown-list" value="1">启用</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <td>
                        <input class="btn-submit show-border" type="submit" id="postData" name="postData" value="增加" />
                    </td>
                </tr>
            </table>
        </form>
        <div>
        </div>


    }
    @if (ViewBag.flag == 1)
    {
        <form action="~/backStage/displayManagement/displayAddGo" method="post">
            <input type="text" id="flag" name="flag" value="@ViewBag.flag" hidden="hidden" />
            <table class="insert-tab">
                <tr><th></th><td class="show-title">增加展示</td></tr>
                <tr>
                    <th>
                        类型
                    </th>
                    @if (@ViewBag.flag == 0)
                    {
                        <td>轮播图</td>
                    }
                    @if (@ViewBag.flag == 1)
                    {
                        <td>公告</td>
                    }
                </tr>
                <tr>
                    <th>
                        展示分区
                    </th>
                    <td>
                        <select name="areaId">
                            <option class="dropdown-list" value="0">首页</option>
                            <option class="dropdown-list" value="1">资源</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>
                        标题
                    </th>
                    <td>
                        @Html.TextBoxFor(u => u.title, new { @type = "text", @class = "input-content", @id = "title", @name = "title" })
                        <div class="error-mes">@Html.ValidationMessageFor(u => u.title)</div>
                    </td>
                </tr>
                <tr>
                    <th>
                        链接
                    </th>
                    <td>
                        @Html.TextBoxFor(u => u.url, new { @type = "text", @class = "input-content", @id = "url", @name = "url" })
                        <div class="error-mes">@Html.ValidationMessageFor(u => u.url)</div>
                    </td>
                </tr>
                <tr>
                    <th>
                        状态
                    </th>
                    <td>
                        <select name="Infostatus">
                            <option class="dropdown-list" value="0">禁止</option>
                            <option class="dropdown-list" value="1">启用</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <td>
                        <input class="btn-submit show-border" type="submit" id="postData" name="postData" value="增加" />
                    </td>
                </tr>
            </table>
        </form>
    }
</div>