@model Lazyfitness.Areas.DbTable.tables

@{
    ViewData["IsSearch"] = true;
    ViewData["IsHeadPic"] = true;
    Layout = "~/Views/Shared/_MainStyle.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Areas/jQuery/showPwd.js"></script>
<script src="~/Areas/jQuery/jQueryEmailCode/checkCodeRegister.js"></script>
<script src="~/Areas/jQuery/jQueryEmailCode/sendEmailCodeRegister.js"></script>
<link href="~/Css/Input.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
    $(function () {
        $(".radiobtn-content-btn").click(function () {
            $("#radio1").removeClass("on");
            $("#radio2").removeClass("on"); 
            $("#radio3").removeClass("on");
            $(this).addClass("on");
        });
    });
</script>

<div class="login-input">
    <form method="post" action="~/account/userManagement/registerUser" autocomplete="off">
        <div class="login-input-content">
            <p>注册</p>
            <div class="input-item">
                <div class="input-text-border">
                    @Html.TextBoxFor(u => u.Security.loginId, new { @class = "input-text", @placeholder = "      用户名" })
                </div>
                <div class="message-style">
                    @Html.ValidationMessageFor(x => x.Security.loginId)
                </div>
            </div>
            <div class="input-item">
                <div class="input-text-border">
                    @Html.TextBoxFor(u => u.Security.userPwd, new { @type = "password", @class = "input-text", @placeholder = "       密码" })
                </div>
                <div class="message-style">
                    @Html.ValidationMessageFor(x => x.Security.userPwd)
                </div>
            </div>
            <div class="input-item">
                <div class="input-text-border">
                    @Html.TextBoxFor(u => u.Info.userAge, new { @class = "input-text", @placeholder = "       年龄" })
                </div>
                <div class="message-style">
                    @Html.ValidationMessageFor(x => x.Info.userAge)
                </div>
            </div>
            <div class="input-item">
                <div class="input-text-border">
                    @Html.TextBoxFor(u => u.Info.userEmail, new { @type = "text", @class = "input-text emailAddress", @placeholder = "       邮箱" })
                </div>
                <div class="message-style">
                    @Html.ValidationMessageFor(x => x.Info.userEmail)
                </div>
            </div>
            <div class="radio-pos">
                <ul class="li-fl">
                    <li>
                        <div class="radiobtn-content">
                            <div class="radiobtn-content-btn" id="radio1">
                                @Html.RadioButtonFor(u => u.Info.userSex, 0, new { @class = "radioclass" })
                            </div>
                            <div class="radiobtn-content-text">
                                男
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="radiobtn-content">
                            <div class="radiobtn-content-btn" id="radio2">
                                @Html.RadioButtonFor(u => u.Info.userSex, 1, new { @class = "radioclass" })
                            </div>
                            <div class="radiobtn-content-text">
                                女
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="radiobtn-content">
                            <div class="radiobtn-content-btn" id="radio3">
                                @Html.RadioButtonFor(u => u.Info.userSex, 2, new { @class = "radioclass" })
                            </div>
                            <div class="radiobtn-content-text">
                                保密
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="message-style  pos2 ">
                @Html.ValidationMessageFor(x => x.Info.userSex)
            </div>

            <div class="input-item">
                <div style="text-align:center">
                   <input class="input-code" type="text" name="code" id="code"/>
                   <input class="btn-code getEmailCode" onclick="return checkEmail()" type="button" value="获取验证码">
                </div>
            </div>

            <input type="submit" onclick="return checkCode()" id="postData" name="postData" class="input-btn login-loginbtn-pos" value="完成注册" />
        </div>
    </form>
</div>